---
# Web File Browser
#   https://filebrowser.org/
# ALTERNATIVE (when time comes);
#   https://github.com/gtsteffaniak/filebrowser
# -----
# VERSIONS:
#   * https://hub.docker.com/r/filebrowser/filebrowser/tags?name=-s6
#   * => See tailscale role versions
# -----
# NOTE 1:
#   * for audiobookshelf_data_dir '~' is audiobookshelf_user HOME
#   * for other directories '~' is audiobookshelf_owner HOME
# NOTE 2: Temporary password for the admin user will be printed to the container
# log on startup
# -----
filebrowser_managed: false
filebrowser_enabled: false
filebrowser_version:        # Leave blank to leverage bookshelf configuration
filebrowser_compose_dir:    # Unless you know ..., leave blank to leverage bookshelf configuration
filebrowser_owner: "{{ ansible_user_id }}"    # <- Who runs the container
filebrowser_user: "{{ filebrowser_owner }}"   # <- The in-container user and data filesystem owner
filebrowser_conf_dir: ~/conf/filebrowser
filebrowser_data_dir: ~/data
filebrowser_service_name: filebrowser
filebrowser_hostname: "{{ filebrowser_service_name }}"
filebrowser_vhost: "{{ filebrowser_service_name }}.domain.local"
# Can disable ports if plan to access only via tailnet or reverse-proxy
filebrowser_web_ui_port:    # Leave blank for bookshelf default, or '-1' to not expose the port
filebrowser_tz: "{{ ansible_date_time.tz | default('UTC', true) }}"
# Optional extra env vars, will affect both filebrowser and tailscale.
filebrowser_extra_env: |    # "{{ lookup('template', playbook_dir + '/resources/filebrowser.env.j2') }}"
  # References:
  #   * FileBrowser is not really configurable via env vars
  #   * https://tailscale.com/kb/1282/docker#parameters
  # ----------
# WUD settings
filebrowser_wudded: true    # Watched by WUD
filebrowser_tag_rex:        # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure FileBrowser to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
filebrowser_tailscaled: false
filebrowser_ts_version:           # Leave blank to leverage bookshelf configuration
filebrowser_ts_service_name: "{{ filebrowser_service_name }}-ts"
filebrowser_ts_funnelled: false   # Expose to the world via TS funnel. Use with caution
# Hostname within tailnet
filebrowser_ts_hostname: "{{ filebrowser_service_name }}"
filebrowser_ts_auth_key:
