PUID={{ user_uid }}
PGID={{ user_uid }}
TZ={{ syncthing_tz }}
{% if syncthing_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
{% if syncthing_tailscale_ts_hostname %}
TS_HOSTNAME={{ syncthing_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# syncthing_tailscaled #}
