PUID={{ getent_passwd[syncthing_owner].1 }}
PGID={{ getent_passwd[syncthing_owner].2 }}
TZ={{ syncthing_tz }}
{% if syncthing_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% if syncthing_tailscale_ts_hostname %}
TS_HOSTNAME={{ syncthing_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# syncthing_tailscaled #}
