---
- name: Load install type
  ansible.builtin.include_tasks:
    file: install-pkg.yaml # install-{{ type }}.yaml    # <- tmux package gets installed as tmuxp dep
  vars:
    type: "{{ 'static' if tmux_arch else 'pkg' }}"

- name: Privileged
  become: true
  vars:
    conf_files:
      - default.conf
      - plugins.conf
  block:
    - name: Create conf directory
      ansible.builtin.file:
        path: "{{ tmux_conf_dir }}"
        state: directory
        mode: '0755'

    - name: Install conf files
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: "{{ tmux_conf_dir }}/{{ item }}"
        mode: '0644'
      loop: "{{ conf_files }}"

    - name: Install plugins appendix
      ansible.builtin.template:
        src: "plugins.appendix.conf.j2"
        dest: "{{ tmux_conf_dir }}/plugins.appendix.conf"
        mode: '0644'

- name: Mark install done
  ansible.builtin.set_fact:
    tmux_install_done: true
