#!/usr/bin/env bash
# shellcheck disable=SC2092

`# Configure NOTIFY_* variables`;
NOTIFY_PROVIDER='{{ alert_ssh_provider }}' `#   <- (REQUIRED) One of: discord, gotify, telegram`;
`# NOTIFY_TOKEN='<HOOK_ID>/<HOOK_TOKEN>'      # <- From discord channel`;
`# NOTIFY_TOKEN='<GOTIFY_APPLICATION_TOKEN>'  # <- From https://${NOTIFY_SERVER}/#/applications`;
`# NOTIFY_TOKEN='<TELEGRAM_BOT_TOKEN>'        # <- From BotFather`;
NOTIFY_TOKEN='' `#      <- (REQUIRED)`

`# ===== PROVIDER SPECIFIC OPTIONS =====`

#{% if alert_ssh_provider in ['gotify'] +%}
NOTIFY_SERVER='{{ alert_ssh_server }}' `#     <- (REQUIRED for gotify)`
#{% endif +%}

#{% if alert_ssh_provider in ['telegram'] +%}
`# Telegram setup instructions:`;
`#   https://gist.github.com/spaghetti-coder/2b4befe34f8b4af56080a2c4744a1efb`;
NOTIFY_CHAT_ID='{{ alert_ssh_chat_id }}' `#    <- (REQUIRED for telegram) '<CHAT_ID>' or '<CHAT_ID>/<THREAD_ID>'`
#{% endif +%}

alert() {
  . '{{ notify_sh_path }}'

  # To test it works fine
  [ "${1}" = '--alert-test' ] && { notify_core "${@:2}"; return; }

  notify_core -t "SSH ${PAM_TYPE:-<unknown-action>}" -- \
    "$(hostname -f)" "@ $(date +'%Y-%m-%d %H:%M:%S')" "" \
    "USER: ${PAM_USER:-<unknown>}" \
    "FROM: ${PAM_RHOST:-<unknown>}" \
  &>/dev/null

  return 0    # <- Must exit green, otherwise ssh login may become blocked
}

(return 2>/dev/null) || alert "${@}"
