---
session_name: {{ conf.session_name | default('Triple') }}
windows:
  - window_name: {{ conf.window_name | default('triple') }}
    focus: true
    layout: main-horizontal
{% if conf.start_dir | default('', true) %}
    start_directory: "{{ conf.start_dir }}"
{% endif %}
    panes:
      - focus: true
{% if conf.pane1_start_dir | default('', true) %}
        start_directory: "{{ conf.pane1_start_dir }}"
{% endif %}
      -
{% if conf.pane2_start_dir | default('', true) %}
        start_directory: "{{ conf.pane2_start_dir }}"
{% endif %}
      -
{% if conf.pane3_start_dir | default('', true) %}
        start_directory: "{{ conf.pane3_start_dir }}"
{% endif %}
