---
- name: Software repos deps    # <- 'import' because will need the role vars
  ansible.builtin.import_role: { name: software-repos-deps }

- name: Docker repo
  become: true
  vars:
    keyfile: "{{ software_repos_deps_keyrings_dir }}/docker.asc"
    arch: "{{ docker_apt_arch }}"
    codename: "{{ factum_ubuntu_codename | default(ansible_facts.distribution_release) }}"
    repo_url: https://download.docker.com/linux/{{ factum_os_like }}
  block:
    - name: Install signing key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/{{ factum_os_like }}/gpg
        dest: "{{ keyfile }}"
        mode: "0644"

    - name: Install repo
      ansible.builtin.apt_repository:
        repo: deb [signed-by={{ keyfile }} arch={{ arch }}] {{ repo_url }} {{ codename }} stable
        state: present
        filename: docker-ce
        update_cache: true
      register: docker_repo_state
