ND_PORT={{ int_web_ui_port }}
{% if navidrome_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% if navidrome_tailscale_ts_hostname %}
TS_HOSTNAME={{ navidrome_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# navidrome_tailscaled #}
