# STATIC
# ======
ND_SCANNER_SCHEDULE='*/30 * * * *'
ND_ENABLEINSIGHTSCOLLECTOR=false
ND_ENABLESHARING=true
ND_ENABLETRANSCODINGCONFIG=true

# CONFIG
# ======
ND_PORT={{ navidrome_web_ui_port_int }}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ navidrome_tailscale_ts_hostname | default('', true) }}

# EXTRA
# =====
{{ navidrome_extra_env }}
