# STATIC
# ======
ND_SCANNER_SCHEDULE='*/30 * * * *'
ND_ENABLEINSIGHTSCOLLECTOR=false
ND_ENABLESHARING=true
ND_ENABLETRANSCODINGCONFIG=true

# CONFIG
# ======
ND_PORT={{ navidrome_web_ui_port_int }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = navidrome_ts_hostname
)) }}

# EXTRA
# =====
{{ navidrome_extra_env }}
