---
- name: Docker
  ansible.builtin.import_role: { name: docker }
  vars: { docker_users: ["{{ vikunja_owner }}"] }

- name: Get directories info
  ansible.builtin.file: { path: "{{ item.path }}" }
  check_mode: true
  failed_when: false
  register: vikunja_dirs       # vikunja_dirs.results[ix].path
  loop_control: { label: "{{ item.user }}:{{ item.path }}" }
  loop:
    - { path: "{{ vikunja_conf_dir }}", user: "{{ vikunja_owner }}" }
  become: true
  become_user: "{{ item.user }}"

- name: Compose
  become: true
  become_user: "{{ vikunja_owner }}"
  vars:
    compose_dir: "{{ vikunja_compose_dir | default(bookshelf_const_compose_dir + '/vikunja', true) }}"
    conf_dir_abs: "{{ vikunja_dirs.results[0].path }}"
    service_state: "{{ vikunja_enabled | ternary('present', 'absent') }}"
    the_user: "{{ ansible_facts.getent_passwd[vikunja_owner] }}"
    user_uid: "{{ the_user.1 }}"
    user_gid: "{{ the_user.2 }}"
  block:
    - name: Create compose directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0700'
      loop: ["{{ compose_dir }}", "{{ conf_dir_abs }}/config"]

    - name: Create compose files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ compose_dir }}/{{ item }}"
        mode: '0600'
      loop:
        - serve.json    # <- Must be first
        - compose.yaml
        - main.env
        - secret.env
      register: vikunja_compose_files_result

    - name: Ensure service user directories ownership
      ansible.builtin.file:
        path: "{{ item }}"
        owner: "{{ user_uid }}"
        group: "{{ user_gid }}"
      loop: ["{{ conf_dir_abs }}/config"]
      become: true
      become_user: root

    - name: Apply service state
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: "{{ service_state }}"
        remove_orphans: true
      register: vikunja_service_state

    - name: Restart service
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: restarted
        remove_orphans: true
      when:
        - vikunja_enabled and not vikunja_service_state.changed
        - vikunja_tailscaled and vikunja_compose_files_result.results[0].changed

    - name: Create note
      ansible.builtin.import_role: { name: bookshelf-note }
      # noqa: var-naming[no-role-prefix]
      vars: { src: notes.md.j2, dest: vikunja-service.md, present: "{{ vikunja_enabled }}" }

- name: Mark done
  ansible.builtin.set_fact:
    vikunja_done: true
