{% set version = (mealie_version | default(bookshelf_const_version.mealie, true)) %}
{% set web_ui_port = (mealie_web_ui_port | default(bookshelf_const_port.mealie.web_ui, true)) %}
{% set tailscale_version = (mealie_ts_version | default(bookshelf_const_version.mealie_tailscale, true)) %}
{% set tag_rex = mealie_tag_rex | default(bookshelf_const_version.mealie_tag_rex, true) %}
---
# https://www.youtube.com/watch?v=DDzKd9aNFX0
# https://docs.techdox.nz/mealie/

{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = mealie_ts_version | default(bookshelf_const_version.mealie_tailscale, true),
  ts_name = mealie_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://github.com/mealie-recipes/mealie/pkgs/container/mealie
    image: ghcr.io/mealie-recipes/mealie:{{ version }}
    container_name: {{ mealie_service_name }}
    restart: unless-stopped
    labels:
      - wud.watch={{ mealie_wudded }}
      - wud.tag.include={{ tag_rex }}
    env_file:
      - ./main.env
    volumes:
      - '{{ conf_dir }}/config:/app/data'
{% if mealie_tailscaled %}
    network_mode: service:tailscale

  tailscale:
    <<: *tailscale
{% endif %}{# mealie_tailscaled #}
    hostname: {{ mealie_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - "{{ web_ui_port }}:{{ mealie_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ bookshelf_const_port.mealie.web_ui }}:{{ mealie_web_ui_port_int }}"
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ mealie_vhost }}
      - VIRTUAL_PORT={{ mealie_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
