# STATIC
# ======
ALLOW_SIGNUP=false
MAX_WORKERS=1
WEB_CONCURRENCY=1

# CONFIG
# ======
PUID={{ user_uid }}
PGID={{ user_gid }}
# BASE_URL=https://mealie.yourdomain.com
TZ={{ mealie_tz }}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ mealie_tailscale_ts_hostname | default('', true) }}

# EXTRA
# =====
{{ mealie_extra_env }}
