# STATIC
# ======
MAX_WORKERS=1
WEB_CONCURRENCY=1

# CONFIG
# ======
PUID={{ user_uid }}
PGID={{ user_gid }}
# BASE_URL=https://mealie.yourdomain.com
TZ={{ mealie_tz }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = mealie_ts_hostname
)) }}

# EXTRA
# =====
{{ mealie_extra_env }}
