---
# https://www.cyberciti.biz/faq/ansible-apt-update-all-packages-on-ubuntu-debian-linux/

- name: Clean (Debian family)
  ansible.builtin.apt:
    autoremove: yes   # <- Remove not needed dependencies
    autoclean: yes    # <- Clean packages cache
  become: true

- name: Upgrade (Debian family)
  ansible.builtin.apt:
    upgrade: dist
    update_cache: true
    force_apt_get: true
    cache_valid_time: 3600
  become: true
