{% set version = (portainer_version | default(bookshelf_const_version.portainer, true)) %}
{% set web_ui_port = (portainer_web_ui_port | default(bookshelf_const_port.portainer.web_ui, true)) %}
{% set tunnel_port = bookshelf_const_port.portainer.tunnel %}
---
services:
  portainer:
    # https://hub.docker.com/r/portainer/portainer-ce/tags?name=alpine
    image: portainer/portainer-ce:{{ version }}
    container_name: {{ portainer_service_name }}
    restart: unless-stopped
    volumes:
      - '{{ conf_dir }}/config:/data'
      - '/var/run/docker.sock:/var/run/docker.sock'
    hostname: {{ portainer_hostname }}
    ports:
      - '{{ web_ui_port }}:9443'
{% if portainer_agent_ready %}
      # SSH tunnel server, used to create a secure tunnel between
      # the agent and the Portainer instance.
      - '{{ tunnel_port }}:8000'
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      VIRTUAL_HOST: {{ portainer_vhost }}
      # https://docs.portainer.io/advanced/reverse-proxy/nginx
      VIRTUAL_PORT: 9443
      VIRTUAL_PROTO: https
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}
