# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = portainer_ts_hostname
)) }}

# EXTRA
# =====
{{ portainer_extra_env }}
