{{ lookup('template', './../../tailscale/partial/sidecar-serve.json.j2', template_vars=dict(
  ts_web_proxy = 'http://127.0.0.1:' + (portainer_web_ui_http_port_int | string),
  ts_funnelled = portainer_ts_funnelled
)) }}
