{% set version = adguard_version | default(bookshelf_const_version.adguard, true) %}
{% set web_ui_port = adguard_web_ui_port | default(bookshelf_const_port.adguard.web_ui, true) | int %}
{% set init_ui_port = adguard_init_ui_port | default(bookshelf_const_port.adguard.init_ui, true) | int %}
{% set ports_exposed = (web_ui_port > -1 or init_ui_port > -1 or adguard_dns_ports_exposed) %}
{% set tag_rex = adguard_tag_rex | default(bookshelf_const_version.adguard_tag_rex, true) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = adguard_ts_version | default(bookshelf_const_version.adguard_tailscale, true),
  ts_name = adguard_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  {{ adguard_service_name }}:
    # https://hub.docker.com/r/adguard/adguardhome/tags
    image: adguard/adguardhome:{{ version }}
    container_name: {{ adguard_service_name }}
    restart: unless-stopped
    labels:
      - wud.watch={{ adguard_wudded }}
      - wud.tag.include={{ tag_rex }}
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ conf_dir }}/config:/opt/adguardhome/conf'
      - '{{ conf_dir }}/config:/opt/adguardhome/work'
{% if adguard_tailscaled %}
    network_mode: "service:{{ adguard_ts_service_name }}"

  {{ adguard_ts_service_name }}:
    <<: *tailscale
{% endif %}{# adguard_tailscaled #}
    hostname: "{{ adguard_hostname }}"
{% if ports_exposed %}
    ports:
{% else %}
    # ports:
{% endif %}
{% if web_ui_port > -1 %}
      - '{{ web_ui_port }}:{{ adguard_web_ui_port_int }}/tcp'
{% endif %}
{% if init_ui_port > -1 %}
      - '{{ init_ui_port }}:3000/tcp'
{% endif%}
{% if adguard_dns_ports_exposed %}
      - '53:53/udp'
      - '53:53/tcp'
{% endif %}
      # Available in container, but can't be configured within the role:
      # - '67:67/udp'
      # - '68:68/udp'
      # - '443:443/udp'
      # - '443:443/tcp'
      # - '853:853/udp'
      # - '853:853/tcp'
      # - '5443:5443/udp'
      # - '5443:5443/tcp'
      # - '6060:6060/tcp'
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ adguard_vhost }}
      - VIRTUAL_PORT={{ adguard_web_ui_port_int }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
