# CONFIG
# ======
TZ={{ adguard_tz }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = adguard_ts_hostname
)) }}

# EXTRA
# =====
{{ adguard_extra_env }}
