{% if adguard_tz %}
TZ={{ adguard_tz }}
{% endif %}
{% if adguard_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% adguard_tailscale_ts_hostname %}
TS_HOSTNAME={{ adguard_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# adguard_tailscaled #}