# STATIC
# ======
NODE_ENV=production
# Uncomment to enable HTTPS
# HTTPS=true

# CONFIG
# ======
# Empty

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = jotty_ts_hostname
)) }}

# EXTRA
# =====
{{ jotty_extra_env }}
