{% set version = (blinko_version | default(bookshelf_const_version.blinko, true)) %}
{% set web_ui_port = (blinko_web_ui_port | default(bookshelf_const_port.blinko.web_ui, true)) %}
{% set tag_rex = blinko_tag_rex | default(bookshelf_const_version.blinko_tag_rex, true) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = blinko_ts_version | default(bookshelf_const_version.blinko_tailscale, true),
  ts_name = blinko_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}
{{ lookup('template', './../../postgres/partial/sidecar-compose.yaml.j2', template_vars=dict(
  pg_version = blinko_postgres_version | default(bookshelf_const_version.blinko_postgres, true),
  pg_name = blinko_db_service_name, pg_conf_dir = conf_dir + '/db', pg_net = blinko_service_name
)) }}

services:
  app:
    # https://hub.docker.com/r/blinkospace/blinko/tags
    image: blinkospace/blinko:{{ version }}
    container_name: {{ blinko_service_name }}
    restart: unless-stopped
    labels:
      - wud.watch={{ blinko_wudded }}
      - wud.tag.include={{ tag_rex }}
    env_file:
      - secret.env
      - main.env    # <- Relies on values from secret.env
    volumes:
      - '{{ conf_dir }}/config:/app/.blinko'
      - ./healthcheck.sh:/healthcheck.sh:ro
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD", "sh", "/healthcheck.sh", "http://127.0.0.1:{{ blinko_web_ui_port_int }}"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    depends_on:
      db:
        condition: service_healthy
        restart: true
{% if blinko_tailscaled %}
    network_mode: "service:tailscale"

  tailscale:
    <<: *tailscale
{% endif %}{# blinko_tailscaled #}
    hostname: {{ blinko_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - "{{ web_ui_port }}:{{ blinko_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ bookshelf_const_port.blinko.web_ui }}:{{ blinko_web_ui_port_int }}"
{% endif %}
    networks:
      - {{ blinko_service_name }}
{% if (nginx_proxy_enabled | default(false)) %}
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ blinko_vhost }}
      - VIRTUAL_PORT={{ blinko_web_ui_port_int }}
{% endif %}{# nginx_proxy_enabled #}

  db: *postgres

networks:
  {{ blinko_service_name }}:
    name: {{ blinko_service_name }}
{% if (nginx_proxy_enabled | default(false)) %}
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
