# STATIC
# ======
POSTGRES_DB=blinko
POSTGRES_USER=blinko
POSTGRES_PASSWORD=JeR7LDypQwQOc

NODE_ENV=production
# NEXTAUTH_URL=http://localhost:1111
# NEXT_PUBLIC_BASE_URL=http://localhost:1111
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

# CONFIG
# ======
TZ='{{ blinko_tz }}'
{% if blinko_tailscaled %}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
{% if blinko_tailscale_ts_hostname %}
TS_HOSTNAME={{ blinko_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# blinko_tailscaled #}
