# STATIC
# ======
POSTGRES_DB=blinko
POSTGRES_USER=blinko

NODE_ENV=production
# NEXTAUTH_URL=http://localhost:1111
# NEXT_PUBLIC_BASE_URL=http://localhost:1111

# CONFIG
# ======
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
TZ='{{ blinko_tz }}'

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = blinko_ts_hostname
)) }}

# EXTRA
# =====
{{ blinko_extra_env }}
