# STATIC
# ======
POSTGRES_DB=blinko
POSTGRES_USER=blinko
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@{{ blinko_db_service }}:5432/${POSTGRES_DB}"

NODE_ENV=production
# NEXTAUTH_URL=http://localhost:1111
# NEXT_PUBLIC_BASE_URL=http://localhost:1111

# CONFIG
# ======
TZ='{{ blinko_tz }}'

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ blinko_tailscale_ts_hostname | default('', false) }}

# EXTRA
# =====
{{ blinko_extra_env }}
