{% set version = (nginx_proxy_manager_version | default(bookshelf_const_version.nginx_proxy_manager, true)) %}
{% set web_ui_port = (nginx_proxy_manager_web_ui_port | default(bookshelf_const_port.nginx_proxy_manager.web_ui, true)) %}
{% set http_port = (nginx_proxy_manager_http_port | default(bookshelf_const_port.nginx_proxy_manager.http, true)) %}
{% set https_port = (nginx_proxy_manager_https_port | default(bookshelf_const_port.nginx_proxy_manager.https, true)) %}
{% set proxy_enabled = (nginx_proxy_enabled | default(false)) %}
---
services:
  {{ nginx_proxy_manager_service_name }}:
    # https://hub.docker.com/r/jc21/nginx-proxy-manager/tags
    image: jc21/nginx-proxy-manager:{{ version }}
    container_name: "{{ nginx_proxy_manager_service_name }}"
    restart: unless-stopped
    volumes:
      - "{{ conf_dir }}/data:/data"
      - "{{ conf_dir }}/letsencrypt:/etc/letsencrypt"
    env_file:
      - ./main.env
    hostname: "{{ nginx_proxy_manager_hostname }}"
{% if nginx_proxy_manager_host_net %}
    network_mode: host          # <- Allows adding Stream ports without editting compose file
{% else %}
{% if proxy_enabled %}
    networks:
      - {{ nginx_proxy_net }}
{% else %}
    network_mode: bridge
{% endif %}{# proxy_enabled #}
    ports:
      - '{{ web_ui_port }}:81'  # Web UI port
{% if http_port | int > -1 %}
      - '{{ http_port }}:80'     # HTTP Port
{% endif %}
{% if https_port | int > -1 %}
      - '{{ https_port }}:443'    # HTTPS Port
{% endif %}
      # Add any other Stream port you want to expose
      # - '21:21'               # FTP
{% endif %}{# nginx_proxy_manager_host_net #}
{% if proxy_enabled %}
    environment:
      # Meta data for nginx-proxy
      - VIRTUAL_HOST={{ nginx_proxy_manager_vhost }}
      - VIRTUAL_PORT=81
{% if not nginx_proxy_manager_host_net %}

networks:
  "{{ nginx_proxy_net }}":
    external: true
{% endif %}{# nginx_proxy_manager_host_net #}
{% endif %}{# proxy_enabled #}
