#
# https://nginxproxymanager.com/guide/
#

# For some reason fails with non-root
# PUID={{ getent_passwd[nginx_proxy_manager_owner].1 }}
# PGID={{ getent_passwd[nginx_proxy_manager_owner].2 }}

# Change SQLite DB file location
# DB_SQLITE_FILE=/data/database.sqlite

# Uncomment when IPv6 is not enabled on your host
# DISABLE_IPV6=true

# EXTRA
# =====
{{ nginx_proxy_manager_extra_env }}
