#
# https://nginxproxymanager.com/guide/
#

# For some reason fails with non-root
# PUID={{ ansible_facts.getent_passwd[nginx_proxy_manager_owner].1 }}
# PGID={{ ansible_facts.getent_passwd[nginx_proxy_manager_owner].2 }}

# Change SQLite DB file location
# DB_SQLITE_FILE=/data/database.sqlite

# Uncomment when IPv6 is not enabled on your host
# DISABLE_IPV6=true

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = nginx_proxy_manager_ts_hostname
)) }}

# EXTRA
# =====
{{ nginx_proxy_manager_extra_env }}
