{% set version = (nginx_proxy_version | default(bookshelf_const_version.nginx_proxy, true)) %}
{% set ports_map = nginx_proxy_ports | default([], true) %}
---
services:
  nginx-proxy:
    # https://hub.docker.com/r/nginxproxy/nginx-proxy/tags?name=alpine
    image: nginxproxy/nginx-proxy:{{ version }}
    container_name: "{{ nginx_proxy_service_name }}"
    restart: unless-stopped
    env_file:
      - ./main.env
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./{{ certs_dir | basename }}:/etc/nginx/certs
      # https://github.com/nginx-proxy/nginx-proxy/tree/main/docs#proxy-wide
{% for file in conffiles %}
      - ./{{ conffiles_dir | basename }}/{{ file }}:/etc/nginx/conf.d/{{ file }}
{% endfor %}
    hostname: "{{ nginx_proxy_hostname }}"
    networks:
      - "{{ nginx_proxy_net }}"
{% if ports_map | length > 0 %}{#       <- PORTS START #}
    ports:
{% for port_kv in ports_map %}
      - "{{ port_kv }}"
{% endfor %}
{% endif %}{#                           <- PORTS END #}

networks:
  "{{ nginx_proxy_net }}":
    name: "{{ nginx_proxy_net }}"
