{% set version = (nginx_proxy_version | default(bookshelf_const_version.nginx_proxy, true)) %}
{% set http_port = nginx_proxy_http_port %}
{% set https_port = nginx_proxy_https_port %}
---
services:
  app:
    # https://hub.docker.com/r/jwilder/nginx-proxy/tags?name=alpine
    image: jwilder/nginx-proxy:{{ version }}
    container_name: "{{ nginx_proxy_service_name }}"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
{% if nginx_proxy_certs_dir %}
      - {{ nginx_proxy_certs_dir }}:/etc/nginx/certs
{% endif %}
    hostname: "{{ nginx_proxy_hostname }}"
    networks:
      - "{{ nginx_proxy_net }}"
{% if http_port or https_port %}
    ports:
{% if http_port %}
      - "{{ http_port }}:80"
{% endif %}
{% if https_port %}
      - "{{ https_port }}:443"
{% endif %}
{% endif %}{# http_port or https_port #}

networks:
  "{{ nginx_proxy_net }}":
    name: "{{ nginx_proxy_net }}"
