{% set version = (nginx_proxy_version | default(bookshelf_const_version.nginx_proxy, true)) %}
{% set ports_map = nginx_proxy_ports | default([], true) %}
---
services:
  nginx-proxy:
    # https://hub.docker.com/r/jwilder/nginx-proxy/tags?name=alpine
    image: jwilder/nginx-proxy:{{ version }}
    container_name: "{{ nginx_proxy_service_name }}"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
{% if nginx_proxy_certs_dir %}
      - {{ nginx_proxy_certs_dir }}:/etc/nginx/certs
{% endif %}
    hostname: "{{ nginx_proxy_hostname }}"
    networks:
      - "{{ nginx_proxy_net }}"
{% if ports_map | length > 0 %}{#       <- PORTS START #}
    ports:
{% for port_kv in ports_map %}
      - "{{ port_kv }}"
{% endfor %}
{% endif %}{#                           <- PORTS END #}

networks:
  "{{ nginx_proxy_net }}":
    name: "{{ nginx_proxy_net }}"
