---
# Open source note-taking app. Capture your thoughts and securely access them from any device.
#   https://joplinapp.org/
# -----
# VERSIONS:
#   * https://hub.docker.com/r/joplin/server/tags
#   * https://hub.docker.com/_/postgres/tags?name=alpine
# -----
joplin_server_managed: false
joplin_server_enabled: false
joplin_server_version:              # Leave blank to leverage bookshelf configuration
joplin_server_postgres_version:     # Leave blank to leverage bookshelf configuration
joplin_server_compose_dir:          # Unless you know ..., leave blank to leverage bookshelf configuration
joplin_server_owner: "{{ ansible_facts.user_id }}"
joplin_server_conf_dir: ~/conf/joplin-server
joplin_server_service_name: joplin-server
joplin_server_hostname: "{{ joplin_server_service_name }}"
joplin_server_vhost: "{{ joplin_server_service_name }}.domain.local"
# Can disable ports if plan to access only via tailnet or reverse-proxy
joplin_server_web_ui_port:          # Leave blank for bookshelf default, or '-1' to not expose the port
# Joplin base url. Ex.:
#   # joplin_server_web_ui_port_ext - contains actual external port
#   https://{{ joplin_server_vhost }}
#   http://{{ ansible_facts.default_ipv4.address }}:{{ joplin_server_web_ui_port_ext }}
joplin_server_base_url:             # (REQUIRED)
joplin_server_db_service_name: "{{ joplin_server_service_name }}-db"
joplin_server_db_pass:              # (REQUIRED)
joplin_server_tz: "{{ ansible_facts.date_time.tz | default('UTC') }}"
# WUD settings
joplin_server_wudded: true   # Watched by WUD
joplin_server_tag_rex:       # Leave blank to leverage bookshelf configuration
