# CONFIG
# ======
LLAMA_ARG_HOST=0.0.0.0
LLAMA_ARG_MODELS_PRESET=/models.ini

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = llama_cpp_ts_hostname
)) }}

# EXTRA
# =====
{{ llama_cpp_extra_env }}
