{% set version = duplicati_version | default(bookshelf_const_version.duplicati, true) %}
{% set web_ui_port = duplicati_web_ui_port | default(bookshelf_const_port.duplicati.web_ui, true) %}
{% set tailscale_version = duplicati_ts_version | default(bookshelf_const_version.duplicati_tailscale, true) %}
---
services:
  {{ duplicati_service_name }}:
    # https://hub.docker.com/r/linuxserver/duplicati/tags?name=-ls
    image: lscr.io/linuxserver/duplicati:{{ version }}
    container_name: {{ duplicati_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
{% for volume in data_volumes_abs %}
      - {{ volume }}
{% endfor %}
{% for volume in backup_volumes %}
      - {{ volume }}
{% endfor %}
      - {{ conf_dir }}/config:/config
{% if duplicati_tailscaled %}
    network_mode: "service:{{ duplicati_ts_service_name }}"

  {{ duplicati_ts_service_name }}:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:{{ tailscale_version }}
    container_name: {{ duplicati_ts_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ conf_dir }}/tailscale:/var/lib/tailscale'
      # Demo: https://github.com/tailscale-dev/video-code-snippets/blob/main/2025-06-mealie/serve.json
      - ./serve.json:/config/serve.json
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
{% endif %}{# duplicati_tailscaled #}
    hostname: {{ duplicati_hostname }}
{% if duplicati_web_ui_ports_exposed %}
    ports:
      - '{{ web_ui_port }}:{{ duplicati_web_ui_port_int }}'
{% else %}
    # ports:
    #   - '{{ web_ui_port }}:{{ duplicati_web_ui_port_int }}'
{% endif %}{# duplicati_web_ui_ports_exposed #}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ duplicati_vhost }}
      - VIRTUAL_PORT={{ duplicati_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
