{% set version = duplicati_version | default(bookshelf_const_version.duplicati, true) %}
{% set web_ui_port = duplicati_web_ui_port | default(bookshelf_const_port.duplicati.web_ui, true) %}
{% set tag_rex = duplicati_tag_rex | default(bookshelf_const_version.duplicati_tag_rex, true) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = duplicati_ts_version | default(bookshelf_const_version.duplicati_tailscale, true),
  ts_name = duplicati_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://hub.docker.com/r/linuxserver/duplicati/tags?name=-ls
    image: ghcr.io/linuxserver/duplicati:{{ version }}
    container_name: {{ duplicati_service_name }}
    restart: unless-stopped
    labels:
      - wud.watch={{ duplicati_wudded }}
      - wud.tag.include={{ tag_rex }}
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
{% for volume in data_volumes_abs %}
      - {{ volume }}
{% endfor %}
{% for volume in backup_volumes %}
      - {{ volume }}
{% endfor %}
      - {{ conf_dir }}/config:/config
{% if duplicati_tailscaled %}
    network_mode: "service:tailscale"

  tailscale:
    <<: *tailscale
{% endif %}{# duplicati_tailscaled #}
    hostname: {{ duplicati_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - '{{ web_ui_port }}:{{ duplicati_web_ui_port_int }}'
{% else %}
    # ports:
    #   - '{{ bookshelf_const_port.duplicati.web_ui }}:{{ duplicati_web_ui_port_int }}'
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ duplicati_vhost }}
      - VIRTUAL_PORT={{ duplicati_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
