# STATIC
# ======
PUID=0  # <- In container root user to avoid permission issues while backing up
PGID=0

# CONFIG
# ======
TZ={{ duplicati_tz }}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ duplicati_ts_hostname | default('', true) }}
TS_ENABLE_HEALTH_CHECK=true

# EXTRA
# =====
{{ duplicati_extra_env }}
