## Duplicati
{% if duplicati_tailscaled %}

* Disable tailscale machine expiry:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ duplicati_ts_hostname }} *** > Disable key expiry`
{% endif %}
