## Twingate

Tenant site: https://{{ twingate_tenant_name }}.twingate.com

* Give network a good name:
  1. `Network > Remote Networks`
  2. Click network name `> Edit`
* Create resources `Network > Resources > +`. Demo:
  * `10.5.13.64`
  * `10.143.55.0/24`
  * `*.domain1.local`
  * `site.domain2.local`
* Create groups and connect to resources
  1. `Teams > Groups > +`
