{% set version = (rwmarkable_version | default(bookshelf_const_version.rwmarkable, true)) %}
{% set web_ui_port = (rwmarkable_web_ui_port | default(bookshelf_const_port.rwmarkable.web_ui, true)) %}
{% set tailscale_version = (rwmarkable_ts_version | default(bookshelf_const_version.rwmarkable_tailscale, true)) %}
---
services:
  {{ rwmarkable_service_name }}:
    # https://github.com/fccview/rwMarkable/pkgs/container/rwmarkable
    image: ghcr.io/fccview/rwmarkable:{{ version }}
    container_name: {{ rwmarkable_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ rwmarkable_conf_dir }}/config:/app/data'
      - '{{ rwmarkable_conf_dir }}/cache:/app/.next/cache'
      # - '{{ rwmarkable_conf_dir }}/config:/app/config'  # <- Theming directory
    user: '{{ user_uid }}:{{ user_gid }}'
    # platform: linux/arm64                               # <- Uncomment to use ARM64
{% if rwmarkable_tailscaled %}
    network_mode: "service:{{ rwmarkable_ts_service_name }}"

  {{ rwmarkable_ts_service_name }}:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:{{ tailscale_version }}
    container_name: {{ rwmarkable_ts_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ rwmarkable_conf_dir }}/tailscale:/var/lib/tailscale'
      # Demo: https://github.com/tailscale-dev/video-code-snippets/blob/main/2025-06-mealie/serve.json
      - ./serve.json:/config/serve.json
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
{% endif %}{# rwmarkable_tailscaled #}
    hostname: {{ rwmarkable_hostname }}
{% if rwmarkable_web_ui_ports_exposed %}
    ports:
      - '{{ web_ui_port }}:{{ rwmarkable_web_ui_port_int }}'
{% else %}
    # ports:
    #   - '{{ web_ui_port }}:{{ rwmarkable_web_ui_port_int }}'
{% endif %}{# rwmarkable_web_ui_ports_exposed #}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ rwmarkable_vhost }}
      - VIRTUAL_PORT={{ rwmarkable_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
