{% set version = (memos_version | default(bookshelf_const_version.memos, true)) %}
{% set web_ui_port = (memos_web_ui_port | default(bookshelf_const_port.memos.web_ui, true)) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = memos_ts_version | default(bookshelf_const_version.memos_tailscale, true),
  ts_name = memos_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://hub.docker.com/r/neosmemo/memos/tags
    image: neosmemo/memos:{{ version }}
    container_name: {{ memos_service_name }}
    restart: unless-stopped
    env_file:
      - ./main.env
    volumes:
      - '{{ conf_dir }}/config:/var/opt/memos'
{% if memos_tailscaled %}
    network_mode: service:tailscale

  tailscale:
    <<: *tailscale
{% endif %}{# memos_tailscaled #}
    hostname: {{ memos_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - '{{ web_ui_port }}:{{ memos_web_ui_port_int }}'
{% else %}
    # ports:
    #   - '{{ web_ui_port }}:{{ memos_web_ui_port_int }}'
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ memos_vhost }}
      - VIRTUAL_PORT={{ memos_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
