MEMOS_PORT=80
{% if memos_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% if memos_tailscale_ts_hostname %}
TS_HOSTNAME={{ memos_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# memos_tailscaled #}
