# CONFIG
# ======
MEMOS_PORT={{ memos_web_ui_port_int }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = memos_ts_hostname
)) }}

# EXTRA
# =====
{{ memos_extra_env }}
