[Desktop Entry]
Name=Jellyfin Media Player
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=jellyfinmediaplayer com.github.iwalton3.jellyfin-media-player
Icon=com.github.iwalton3.jellyfin-media-player
Type=Application
Terminal=false
StartupWMClass=com.github.iwalton3.jellyfin-media-player
X-Flatpak=com.github.iwalton3.jellyfin-media-player
