{% set version = (vaultwarden_version | default(bookshelf_const_version.vaultwarden, true)) %}
{% set web_ui_port = (vaultwarden_web_ui_port | default(bookshelf_const_port.vaultwarden.web_ui, true)) %}
{% set tag_rex = vaultwarden_tag_rex | default(bookshelf_const_version.vaultwarden_tag_rex, true) %}
---
services:
  vaultwarden:
    # https://hub.docker.com/r/vaultwarden/server/tags?name=alpine
    # image: vaultwarden/server:{{ version }}
    image: ghcr.io/dani-garcia/vaultwarden:{{ version }}
    container_name: {{ vaultwarden_service_name }}
    restart: unless-stopped
    labels:
      - wud.watch={{ vaultwarden_wudded }}
      - wud.tag.include={{ tag_rex }}
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ conf_dir }}/config:/data'
    hostname: {{ vaultwarden_hostname }}
    ports:
      - '{{ web_ui_port }}:80'
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ vaultwarden_vhost }}
      - VIRTUAL_PORT=80
      # Required with a reverse proxy, vaultwarden needs to know it's https
      # to work properly with attachments.
      # https://github.com/dani-garcia/vaultwarden/wiki/Using-Docker-Compose
      - DOMAIN={{ vaultwarden_vdomain }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
