---
# Safe and simple access to predefined shell commands from a web interface.
#   https://olivetin.app/
#   https://docs.olivetin.app/
# -----
# VERSIONS: https://hub.docker.com/r/jamesread/olivetin/tags
# -----
olivetin_managed: false
olivetin_enabled: false
olivetin_version:       # Leave blank to leverage bookshelf configuration
olivetin_compose_dir:   # Unless you know ..., leave blank to leverage bookshelf configuration
olivetin_owner: "{{ ansible_user_id }}"
olivetin_conf_dir: ~/conf/olivetin
olivetin_service_name: olivetin
olivetin_hostname: "{{ olivetin_service_name }}"
olivetin_vhost: "{{ olivetin_service_name }}.domain.local"
olivetin_web_ui_port:   # Leave blank to leverage bookshelf configuration
# Scripts to be uploaded to 'name' filename under "{{ olivetin_compose_dir }}/scripts"
# directory, which is read only mounted mounted to the container '/app/scripts'.
# See files/sample.sh for a demo.
olivetin_scripts:
#   - text: "{{ lookup('file', 'sample.sh') }}"
#     name: s1.sh   # /app/scripts/s1.sh in the container
#     mode: '0755'  # <- Optional. Defaults to '0755'
#   - text: "{{ lookup('template', playbook_dir + 'resources/olivetin/script2.sh.j2') }}"
#     name: s2.sh
# Extra mounts, can be used to access docker host resources
olivetin_volumes:       # ['~:/app/home:ro', '/etc:/app/etc:ro']
# Custom config. See the default one in files/config.yaml.
# templates/config.base.yaml.j2 is always appended in the end.
olivetin_config:        # "{{ lookup('file', 'config.yaml') }}"
# WUD settings
olivetin_wudded: true   # Watched by WUD
olivetin_tag_rex:       # Leave blank to leverage bookshelf configuration
