#!/usr/bin/env bash

# USAGE:
# qBittorrent UI -> Settings -> Downloads -> External ... on finished
#   /scripts/downloaded.sh "%N" "Downloaded" # <- "Downloaded" for message title
#
# NOTE: The script takes advantage of the linuxserver/qbittorrent image tools
#   * bash
#   * curl
#   * python3 / jq
# It may not work in other environments that don't have those

gotify_push_config() {
  `# Example: https://gotify.lab.home`
  GOTIFY_SERVER='{{ qbittorrent_gotify_server }}'   `# <- REQUIRED`

  `# Expected content:`
  `#   GOTIFY_TOKEN='<GOTIFY_APPLICATION_TOKEN>' # <- (REQUIRED) From https://${GOTIFY_SERVER}/#/applications`
  . "$(dirname -- "${0}")/downloaded.secret.sh"
}

# USAGE:
#   gotify_push MESSAGE [TITLE]
# DEMO:
#   gotify_push "Hello world" "Message title header"
gotify_push() (
  # Obtain connection settings from config callback or from env vars
  local GOTIFY_SERVER="${GOTIFY_SERVER}" \
        GOTIFY_TOKEN="${GOTIFY_TOKEN}"
  declare -F gotify_push_config &>/dev/null && gotify_push_config

  main() {
    local message="${1}"; message="$(json_quote "${message}")"  || return
    local title="${2}"
    local content_type='text/plain'; content_type="$(json_quote "${content_type}")" `# <- Can be 'text/markdown', risky` || return
    local priority=5
    local endpoint="${GOTIFY_SERVER%*/}/message"; endpoint+="?token=$(urlencode "${GOTIFY_TOKEN}")" || return

    local full_msg='"message": '"${message}"
    [ -n "${title}" ] && { full_msg+=', "title": '"$(json_quote "${title}")" || return; }

    # * https://gotify.net/docs/msgextras, https://gotify.net/docs/pushmsg
    curl -sSL -X POST -H 'Content-Type: application/json' \
      --data '{
        '"${full_msg}"', "priority": '"${priority}"',
        "extras": { "client::display": { "contentType": '"${content_type}"' } }
      }' \
      -- "${endpoint}"
  }

  # USAGE:
  #   json_quote STRING         # <- Wirh argument
  #   echo STRING | json_quote  # <- Wirh stdin
  # Requires python3 or jq. https://stackoverflow.com/a/50380697, https://stackoverflow.com/a/13466143
  json_quote() {
    local -a quote_cmd=(python3 -c 'import json,sys; print(json.dumps(sys.stdin.read()))')
    python3 --version >/dev/null 2>&1 || quote_cmd=(jq -Rsa .)
    jq --version >/dev/null 2>&1 || { echo "Required python3 or jq" >&2; return 1; }
    printf -- '%s' "${1-$(cat)}" | "${quote_cmd[@]}"
  }

  # USAGE:
  #   urlencode STRING          # <- Wirh argument
  #   echo STRING | urlencode   # <- Wirh stdin
  # DEMO:
  #   echo "https://sample.com/?q=$(urlencode "foo bar")"
  # Requires python3 or jq. https://stackoverflow.com/a/34407620, https://stackoverflow.com/a/62788692
  urlencode() {
    local -a encode_cmd=(python3 -c 'import urllib.parse,sys; print(urllib.parse.quote(sys.stdin.read()))')
    python3 --version >/dev/null 2>&1 || encode_cmd=(jq -sRr '@uri')
    jq --version >/dev/null 2>&1 || { echo "Required python3 or jq" >&2; return 1; }
    printf -- '%s' "${1-$(cat)}" | "${encode_cmd[@]}"
  }

  main "${@}"
)

(return 2>/dev/null) || gotify_push "${@}"
