# CONFIG
# ======
PUID={{ ansible_facts.getent_passwd[qbittorrent_user].1 }}
PGID={{ ansible_facts.getent_passwd[qbittorrent_user].2 }}
TZ={{ qbittorrent_tz }}
WEBUI_PORT={{ qbittorrent_web_ui_port_int }}   # <- Due to issues with CSRF port mapping must be explicit
TORRENTING_PORT={{ qbittorrent_torrenting_port_int }}
# Enable VueTorrent mod
# https://github.com/VueTorrent/VueTorrent/wiki/Installation#using-lsio-docker-mod
DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:{{ qbittorrent_vuetorrent_version_int }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = qbittorrent_ts_hostname
)) }}

# EXTRA
# =====
{{ qbittorrent_extra_env }}
