#!/usr/bin/env bash
# shellcheck disable=SC2092

`# Configure NOTIFY_* variables`;
NOTIFY_PROVIDER='{{ qbittorrent_notify_provider }}' `#   <- (REQUIRED) One of: discord, gotify, telegram`;
`# NOTIFY_TOKEN='<HOOK_ID>/<HOOK_TOKEN>'      # <- From discord channel`;
`# NOTIFY_TOKEN='<GOTIFY_APPLICATION_TOKEN>'  # <- From https://${NOTIFY_SERVER}/#/applications`;
`# NOTIFY_TOKEN='<TELEGRAM_BOT_TOKEN>'        # <- From BotFather`;
NOTIFY_TOKEN='' `#      <- (REQUIRED)`

`# ===== PROVIDER SPECIFIC OPTIONS =====`

#{% if qbittorrent_notify_provider in ['gotify'] +%}
NOTIFY_SERVER='{{ qbittorrent_notify_server }}' `#     <- (REQUIRED for gotify)`
#{% endif +%}

#{% if qbittorrent_notify_provider in ['telegram'] +%}
`# Telegram setup instructions:`;
`#   https://gist.github.com/spaghetti-coder/2b4befe34f8b4af56080a2c4744a1efb`;
NOTIFY_CHAT_ID='{{ qbittorrent_notify_chat_id }}' `#    <- (REQUIRED for telegram) '<CHAT_ID>' or '<CHAT_ID>/<THREAD_ID>'`
#{% endif +%}

(return 2>/dev/null) || {   # <- File executed
  . '{{ notify_sh_path }}'
  notify_core -t "${1}" -- "${2}"   # I.e. `SCRIPT -t TITLE BODY`
}
