{% set version = jellyfin_version | default(bookshelf_const_version.jellyfin, true) %}
{% set web_ui_port = jellyfin_web_ui_port | default(bookshelf_const_port.jellyfin.web_ui, true) | int %}
{% set data_volumes = (jellyfin_user == jellyfin_owner)
    | ternary(jellyfin_data_volumes, data_volumes_abs) | default([], true) %}
{% set ports_exposed = (web_ui_port > -1 or jellyfin_discovery_ports_exposed) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = jellyfin_ts_version | default(bookshelf_const_version.jellyfin_tailscale, true),
  ts_name = jellyfin_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://hub.docker.com/r/linuxserver/jellyfin/tags
    # image: linuxserver/jellyfin:{{ version }}
    image: lscr.io/linuxserver/jellyfin:{{ version }}
    container_name: {{ jellyfin_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
{% for volume in data_volumes %}
      - '{{ volume }}'
{% endfor %}
      - '{{ conf_dir }}/config:/config'
    devices:
      # https://github.com/linuxserver/docker-jellyfin#intelatiamd
      - /dev/dri:/dev/dri
{% if jellyfin_tailscaled %}
    network_mode: service:tailscale

  tailscale:
    <<: *tailscale
{% endif %}{# jellyfin_tailscaled #}
    hostname: {{ jellyfin_hostname }}
    # https://jellyfin.org/docs/general/networking/#port-bindings
{% if ports_exposed %}
    ports:
{% else %}
    # ports:
{% endif %}
{% if web_ui_port > -1 %}
      - '{{ web_ui_port }}:{{ jellyfin_web_ui_port_int }}'
      # - 8920:8920     # HTTPS traffic, optional
{% else %}
    #   - '{{ bookshelf_const_port.jellyfin.web_ui }}:{{ jellyfin_web_ui_port_int }}'
    #   - 8920:8920     # HTTPS traffic, optional
{% endif %}
{% if jellyfin_discovery_ports_exposed %}
      - '{{ bookshelf_const_port.jellyfin.service_discovery }}:1900/udp' # <- Service discovery, optional
      - '{{ bookshelf_const_port.jellyfin.client_discovery }}:7359/udp' # <- Client discovery, optional
{% else %}
    #   - '{{ bookshelf_const_port.jellyfin.service_discovery }}:1900/udp' # <- Service discovery, optional
    #   - '{{ bookshelf_const_port.jellyfin.client_discovery }}:7359/udp' # <- Client discovery, optional
{% endif %}{# jellyfin_discovery_ports_exposed #}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ jellyfin_vhost }}
      - VIRTUAL_PORT={{ jellyfin_web_ui_port_int }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}
