PUID={{ user_uid }}
PGID={{ user_gid }}
TZ={{ jellyfin_tz }}
# JELLYFIN_PublishedServerUrl=https://{{ jellyfin_vhost }} # optional
{% if jellyfin_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% if jellyfin_tailscale_ts_hostname %}
TS_HOSTNAME={{ jellyfin_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# jellyfin_tailscaled #}
