# STATIC
# ======
# Empty

# CONFIG
# ======
TZ={{ wud_tz }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = wud_ts_hostname
)) }}

# EXTRA
# =====
{{ wud_extra_env }}
