---
# Docker container for managing Nginx proxy hosts with a simple, powerful interface
#   https://nginxproxymanager.com/
# -----
# VERSIONS: https://hub.docker.com/r/jc21/nginx-proxy-manager/tags
# -----
nginx_proxy_manager_managed: false
nginx_proxy_manager_enabled: false
nginx_proxy_manager_version:          # Leave blank to leverage bookshelf configuration
nginx_proxy_manager_compose_dir:      # Unless you know ..., leave blank to leverage bookshelf configuration
nginx_proxy_manager_owner: "{{ ansible_user_id }}"
nginx_proxy_manager_conf_dir: ~/conf/nginx-proxy-manager
nginx_proxy_manager_service_name: nginx-proxy-manager
nginx_proxy_manager_hostname: "{{ nginx_proxy_manager_service_name }}"
nginx_proxy_manager_host_net: false   # 'true' allows adding Stream ports without editting compose file
# Port settings only get applied with nginx_proxy_manager_host_net == false
nginx_proxy_manager_web_ui_port:      # Leave blank for bookshelf default, or '-1' to not expose the port
nginx_proxy_manager_http_port:        # Leave blank for bookshelf default, or '-1' to not expose the port
# NOTE: Avoid port conflicts with other reverse proxies
nginx_proxy_manager_ports:            # (OPTIONAL) HOST:CONTAINER ports mapping
  - 80:80                             # <- HTTP
  - 443:443                           # <- HTTPS
nginx_proxy_manager_vhost: "{{ nginx_proxy_manager_service_name }}.domain.local"
# Optional extra env vars
nginx_proxy_manager_extra_env:        # "{{ lookup('template', playbook_dir + '/resources/nginx-proxy-manager.env.j2') }}"
# WUD settings
nginx_proxy_manager_wudded: true      # Watched by WUD
nginx_proxy_manager_tag_rex:          # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure Nginx-Proxy-Manager to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
nginx_proxy_manager_tailscaled: false
nginx_proxy_manager_ts_version:           # Leave blank to leverage bookshelf configuration
nginx_proxy_manager_ts_service_name: "{{ nginx_proxy_manager_service_name }}-ts"
nginx_proxy_manager_ts_funnelled: false   # Expose to the world via TS funnel. Use with caution
# Hostname within tailnet
nginx_proxy_manager_ts_hostname: "{{ nginx_proxy_manager_service_name }}"
nginx_proxy_manager_ts_auth_key:
