# STATIC
# ======
APP_ENV=production
APP_DEBUG=false
SITE_OWNER=foo@bar.baz
DEFAULT_LANGUAGE=en_US
DEFAULT_LOCALE=equal
TRUSTED_PROXIES=**
LOG_CHANNEL=stack
APP_LOG_LEVEL=notice
AUDIT_LOG_LEVEL=emergency
DISABLE_FRAME_HEADER=false
# DB
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly
MARIADB_RANDOM_ROOT_PASSWORD=1
MARIADB_USER="${DB_USERNAME}"
MARIADB_DATABASE="${DB_DATABASE}"

# CONFIG
# ======
TZ={{ firefly_tz }}
DB_CONNECTION=mysql
DB_HOST={{ firefly_db_service_name }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = firefly_ts_hostname
)) }}

# EXTRA
# =====
{{ firefly_extra_env }}
