APP_KEY='{{ firefly_app_key }}'
STATIC_CRON_TOKEN='{{ firefly_cron_token }}'

DB_PASSWORD='{{ firefly_db_pass }}'
MARIADB_PASSWORD="${DB_PASSWORD}"

{% if firefly_tailscaled %}
TS_AUTHKEY='{{ firefly_ts_auth_key }}'
{% endif %}
