{{ lookup('template', './../../tailscale/partial/sidecar-serve.json.j2', template_vars=dict(
  ts_web_proxy = 'http://127.0.0.1:' + (firefly_web_ui_port_int | string),
  ts_funnelled = firefly_ts_funnelled
)) }}
