# STATIC
# ======
TS_DONTKILL=1
TS_RDB=0
TS_EN_SSL=0

# CONFIG
# ======
TS_HTTPAUTH=0
TS_PORT={{ torrserver_web_ui_port_int }}
TS_CONF_PATH={{ torrserver_conf_path }}
TS_TORR_DIR={{ torrserver_cache_path }}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ torrserver_ts_hostname | default('', false) }}

# EXTRA
# =====
{{ torrserver_extra_env }}
