{% set version = (heimdall_version | default(bookshelf_const_version.heimdall, true)) %}
---
services:
  app:
    # https://hub.docker.com/r/linuxserver/heimdall/tags
    image: linuxserver/heimdall:{{ version }}
    container_name: {{ heimdall_service_name }}
    restart: unless-stopped
    env_file:
      - ./main.env
    volumes:
      - '{{ heimdall_conf_dir }}/config:/config'
{% if (nginx_proxy_enabled | default(false)) %}
      - ./fix-app-url.sh:/scripts/fix-app-url.sh:ro
{% endif %}
    hostname: {{ heimdall_hostname }}
{% if heimdall_web_ui_port_ext | int > -1 %}
    ports:
      - '{{ heimdall_web_ui_port_ext }}:80'
      # - 443:443
{% else %}
    # ports:
    #   - '{{ heimdall_web_ui_port_ext }}:80'
    #   # - 443:443
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      # - VIRTUAL_HOST={{ heimdall_vhost }}
      # - VIRTUAL_PORT=443
      # - VIRTUAL_PROTO=https
      - VIRTUAL_HOST={{ heimdall_vhost }}
      - VIRTUAL_PORT=80
    networks:
      - {{ nginx_proxy_net }}
    post_start:
      # Use with reverse proxy
      - command: /bin/bash /scripts/fix-app-url.sh

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
