{% set version = audiobookshelf_version | default(bookshelf_const_version.audiobookshelf, true) %}
{% set web_ui_port = audiobookshelf_web_ui_port | default(bookshelf_const_port.audiobookshelf.web_ui, true) %}
{% set data_volumes = (audiobookshelf_user == audiobookshelf_owner)
    | ternary(audiobookshelf_data_volumes, data_volumes_abs) | default([], true) %}
{% set tailscale_version = audiobookshelf_tailscale_version | default(bookshelf_const_version.audiobookshelf_tailscale, true) %}
{% set tailscale_service = 'audiobookshelf-tailscale' %}
---
services:
  audiobookshelf:
    # https://hub.docker.com/r/advplyr/audiobookshelf/tags
    image: advplyr/audiobookshelf:{{ version }}
    container_name: {{ audiobookshelf_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
{% for volume in data_volumes %}
      - '{{ volume }}'
{% endfor %}
      - '{{ audiobookshelf_conf_dir }}/config:/config'
      - '{{ audiobookshelf_conf_dir }}/config:/metadata'
    user: "{{ user_uid }}:{{ user_gid }}"
{% if audiobookshelf_tailscaled %}
    network_mode: "service:{{ tailscale_service }}"

  {{ tailscale_service }}:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:{{ tailscale_version }}
    container_name: {{ audiobookshelf_service_name }}-tailscale
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ audiobookshelf_conf_dir }}/tailscale:/var/lib/tailscale'
      # Demo: https://github.com/tailscale-dev/video-code-snippets/blob/main/2025-06-mealie/serve.json
      - ./serve.json:/config/serve.json
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
{% endif %}{# audiobookshelf_tailscaled #}
    hostname: {{ audiobookshelf_hostname }}
    ports:
      - {{ web_ui_port }}:{{ audiobookshelf_web_ui_port_int }}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ audiobookshelf_vhost }}
      - VIRTUAL_PORT={{ audiobookshelf_web_ui_port_int }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
