{% set version = audiobookshelf_version | default(bookshelf_const_version.audiobookshelf, true) %}
{% set web_ui_port = audiobookshelf_web_ui_port | default(bookshelf_const_port.audiobookshelf.web_ui, true) %}
{% set data_volumes = (audiobookshelf_user == audiobookshelf_owner)
    | ternary(audiobookshelf_data_volumes, data_volumes_abs) | default([], true) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = audiobookshelf_ts_version | default(bookshelf_const_version.audiobookshelf_tailscale, true),
  ts_name = audiobookshelf_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://hub.docker.com/r/advplyr/audiobookshelf/tags
    image: advplyr/audiobookshelf:{{ version }}
    container_name: {{ audiobookshelf_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
{% for volume in data_volumes %}
      - '{{ volume }}'
{% endfor %}
      - '{{ conf_dir }}/config:/config'
      - '{{ conf_dir }}/config:/metadata'
    user: "{{ user_uid }}:{{ user_gid }}"
{% if audiobookshelf_tailscaled %}
    network_mode: "service:tailscale"

  tailscale:
    <<: *tailscale
{% endif %}{# audiobookshelf_tailscaled #}
    hostname: {{ audiobookshelf_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - {{ web_ui_port }}:{{ audiobookshelf_web_ui_port_int }}
{% else %}
    # ports:
    #   - {{ web_ui_port }}:{{ audiobookshelf_web_ui_port_int }}
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ audiobookshelf_vhost }}
      - VIRTUAL_PORT={{ audiobookshelf_web_ui_port_int }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
