# CONFIG
# ======
TZ={{ audiobookshelf_tz }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = audiobookshelf_ts_hostname
)) }}

# EXTRA
# =====
{{ audiobookshelf_extra_env }}
