---
# Self-hosted YouTube downloader (web UI for youtube-dl / yt-dlp)
#   https://github.com/alexta69/metube
# -----
# VERSIONS: https://github.com/alexta69/metube/pkgs/container/metube
# -----
# NOTE 1:
#   * for metube_data_dir '~' is metube_user HOME
#   * for other directories '~' is metube_owner HOME
# -----
metube_managed: false
metube_enabled: false
metube_version:       # Leave blank to leverage bookshelf configuration
metube_compose_dir:   # Unless you know ..., leave blank to leverage bookshelf configuration
metube_owner: "{{ ansible_user_id }}"       # <- Who runs the container
metube_user: "{{ metube_owner }}"           # <- The in-container user and data filesystem owner
metube_conf_dir: ~/conf/metube
metube_data_dir: ~/data/Metube
metube_service_name: metube
metube_hostname: "{{ metube_service_name }}"
metube_vhost: "{{ metube_service_name }}.domain.local"
# Can disable ports if plan to access only via tailnet or reverse-proxy
metube_web_ui_port:   # Leave blank for bookshelf default, or '-1' to not expose the port
metube_tz: "{{ ansible_date_time.tz | default('UTC', true) }}"
# Optional extra env vars
metube_extra_env: |   # "{{ lookup('template', playbook_dir + '/resources/metube.env.j2') }}"
  # References:
  #   * https://github.com/alexta69/metube#%EF%B8%8F-configuration-via-environment-variables
  # ----------
  DEFAULT_THEME=dark
# WUD settings
metube_wudded: true   # Watched by WUD
metube_tag_rex:       # Leave blank to leverage bookshelf configuration
