{% set version = (tailscale_version | default(bookshelf_const_version.tailscale, true)) %}
{% set routed_traffic = true if (tailscale_routes or tailscale_exit_node) else false %}
{% set health_version = (tailscale_health_alpine_version | default(bookshelf_const_version.tailscale_alpine, true)) %}
---
# This one is supposed to work as an exit node
# and provide access to local network routes
#   * https://www.youtube.com/watch?v=QJzjJozAYJo
#   * https://www.youtube.com/watch?v=d8FyQKAVJtQ

services:
  {{ tailscale_service_name }}:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:{{ version }}
    container_name: {{ tailscale_service_name }}
    restart: unless-stopped
    volumes:
      - '{{ conf_dir }}/config:/var/lib/tailscale'
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    env_file: &env_file
      - ./secret.env
      - ./main.env
{% if routed_traffic %}
    sysctls:  # <- Routed traffic requirement
      # printf -- '%s\n' \
      #   'net.ipv4.ip_forward = 1' \
      #   'net.ipv6.conf.all.forwarding = 1' \
      # | sudo tee /etc/sysctl.d/99-tailscale.conf >/dev/null \
      # && sudo sysctl -p /etc/sysctl.d/99-tailscale.conf
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
{% endif %}{# routed_traffic #}
    hostname: {{ tailscale_hostname }}
    network_mode: bridge
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:9002/healthz"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
{% if tailscale_health_script %}

  {{ tailscale_health_service_name }}:
    image: alpine:{{ health_version }}
    container_name: {{ tailscale_health_service_name }}
    restart: unless-stopped
    env_file: *env_file
    volumes:
      - ./health.init.sh:/bin/init.sh:ro
      - ./health.check.sh:/bin/health.sh:ro
    network_mode: "service:{{ tailscale_service_name }}"
    command: /bin/init.sh
{% endif %}
