{% set version = (tailscale_version | default(bookshelf_const_version.tailscale, true)) %}
{% set routed_traffic = true if (tailscale_routes or tailscale_exit_node) else false %}
---
# This one is supposed to work as an exit node
# and provide access to local network routes
#
# https://www.youtube.com/watch?v=QJzjJozAYJo
# https://www.youtube.com/watch?v=d8FyQKAVJtQ

services:
  tailscale-homeland:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:{{ version }}
    container_name: {{ tailscale_service_name }}
    restart: unless-stopped
    hostname: {{ tailscale_hostname }}
    network_mode: bridge
    volumes:
      - '{{ conf_dir }}:/var/lib/tailscale'
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    env_file:
      - ./main.env
      - ./secret.env
{% if extra_env %}
      - ./extra.env
{% endif %}
      - ./ts-extra.env
{% if routed_traffic %}
    sysctls:  # <- Routed traffic requirement
      # printf -- '%s\n' \
      #   'net.ipv4.ip_forward = 1' \
      #   'net.ipv6.conf.all.forwarding = 1' \
      # | sudo tee /etc/sysctl.d/99-tailscale.conf >/dev/null \
      # && sudo sysctl -p /etc/sysctl.d/99-tailscale.conf
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.forwarding=1
{% endif %}{# routed_traffic #}
