TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% if tailscale_routes %}
TS_ROUTES='{{ tailscale_routes }}'
{% endif %}
{% if tailscale_exit_node %}
EXIT_NODE_FLAG=--advertise-exit-node
{% endif %}
{% if tailscale_ts_hostname %}
TS_HOSTNAME={{ tailscale_ts_hostname }}
{% endif %}
