# STATIC
# ======
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false

# CONFIG
# ======
{% if tailscale_routes %}
TS_ROUTES='{{ tailscale_routes }}'
{% endif %}
{% if tailscale_exit_node %}
EXIT_NODE_FLAG=--advertise-exit-node
{% endif %}
{% if tailscale_ts_hostname %}
TS_HOSTNAME={{ tailscale_ts_hostname }}
{% endif %}

# EXTRA
# ======
{{ tailscale_extra_env }}
# To avoid override of exit node flag by potential value from extra.env
# https://docs.docker.com/reference/compose-file/interpolation/
TS_EXTRA_ARGS=" ${EXIT_NODE_FLAG-} ${TS_EXTRA_ARGS-}"
