## Tailscale

* Disable tailscale machine expiry:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ tailscale_ts_hostname }} *** > Disable key expiry`
{% if tailscale_routes %}
* Enable subnet routes:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ tailscale_ts_hostname }} *** > Edit route settings`
  3. Check subnet routes
{% endif %}
{% if tailscale_exit_node %}
* Enable exit node:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ tailscale_ts_hostname }} *** > Edit route settings`
  3. Check **Use as exit node**
{% endif %}
