---
# Open Source Continuous File Synchronization
#   https://syncthing.net/
# -----
# VERSIONS:
#   * https://hub.docker.com/r/linuxserver/syncthing/tags?name=-ls
#   * => See tailscale role versions
# -----
# NOTE 1:
#   * for syncthing_data_volumes  '~' is syncthing_user HOME
#   * for other directories '~' is syncthing_owner HOME
# -----
syncthing_managed: false
syncthing_enabled: false
syncthing_version:              # Leave blank to leverage bookshelf configuration
syncthing_compose_dir:          # Unless you know ..., leave blank to leverage bookshelf configuration
syncthing_owner: "{{ ansible_facts.user_id }}"  # <- Who runs the container
syncthing_user: "{{ syncthing_owner }}"   # <- The in-container user and data filesystem owner
syncthing_conf_dir: ~/conf/syncthing
syncthing_data_volumes:   # <- Volumes for data
  - ~/data:/data          # (REQUIRED) At least one volume required
  # - ~/data2:/extra/data2
  # - ~/data3:/extra/data3
syncthing_service_name: syncthing
syncthing_hostname: "{{ syncthing_service_name }}"
syncthing_vhost: "{{ syncthing_service_name }}.domain.local"
syncthing_web_ui_port:          # Leave blank to leverage bookshelf configuration
syncthing_tz: "{{ ansible_facts.date_time.tz | default('UTC') }}"
# Optional extra env vars, will affect both syncthing and tailscale.
syncthing_extra_env:            # "{{ lookup('template', playbook_dir + '/resources/syncthing.env.j2') }}"
# WUD settings
syncthing_wudded: true    # Watched by WUD
syncthing_tag_rex:        # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure Syncthing to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
syncthing_tailscaled: false
syncthing_tailscale_version:    # Leave blank to leverage bookshelf configuration
# Hostname within tailnet
syncthing_tailscale_ts_hostname: "{{ syncthing_service_name }}-tailscale"
syncthing_tailscale_auth_key:
