# STATIC
# ======
DB_TYPE=postgres
DB_PORT=5432

# CONFIG
# ======
POSTGRES_DB=wikijs
POSTGRES_USER=wikijs

PUID={{ user_uid }}
PGID={{ user_gid }}
TZ={{ wikijs_tz }}
DB_HOST={{ wikijs_db_service }}
DB_NAME="${POSTGRES_DB}"
DB_USER="${POSTGRES_USER}"

{% if wikijs_tailscaled %}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
{% if wikijs_tailscale_ts_hostname %}
TS_HOSTNAME={{ wikijs_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# wikijs_tailscaled #}
