[Desktop Entry]
Name=Viber
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=viber --file-forwarding com.viber.Viber @@u %u @@ StartInBackground
Icon=com.viber.Viber
Type=Application
Terminal=false
StartupWMClass=Viber
MimeType=x-scheme-handler/viber;
X-Flatpak=com.viber.Viber
