---
git_managed: false
git_extraconf:
  #   # Required
  # - owner: "{{ ansible_facts.user_id }}"    # <- Existing user. Must be unique
  #   source: gitconfig.extra.ini.j2    # <- In-role, handled as template due to '*.j2'
  #   # Optional variables, can be addressed in the template via 'conf' map in case of template source
  #   user_name: Foo                    # <- 'conf.user_name' in the template
  #   user_email: foo@bar.baz
  # - owner: another-user
  #   source: "{{ playbook_dir }}/resources/git/extra.ini"  # <- Handled as file due to not '*.j2'
  #   # No variables, as it's not a template
  # # ...
