---
# Free and reliable P2P Bittorrent client
#   https://www.qbittorrent.org/
#   https://hub.docker.com/r/linuxserver/qbittorrent
# -----
# VERSIONS:
#   * https://hub.docker.com/r/linuxserver/qbittorrent/tags?name=-ls
#   * https://github.com/VueTorrent/VueTorrent/pkgs/container/vuetorrent-lsio-mod/versions
# -----
# NOTE 1:
#   * for qbittorrent_data_volumes '~' is qbittorrent_user HOME
#   * for other directories '~' is qbittorrent_owner HOME
#
# NOTE 2: Temporary password for the admin user will be printed to the container
# log on startup
#
# NOTE 3: Switch to alternative UI
#   Settings > WebUI > check Use alternative WebUI, Files location: /vuetorrent
#
# NOTE 4: To fix "Unauthorized" error when redirected from a dashboard, go to
#   Settings > WebUI > under Security disable CSRF and Host Header validation
# -----
qbittorrent_managed: false
qbittorrent_enabled: false
qbittorrent_version:              # Leave blank to leverage bookshelf configuration
qbittorrent_vuetorrent_version:   # Leave blank to leverage bookshelf configuration
qbittorrent_compose_dir:          # Unless you know ..., leave blank to leverage bookshelf configuration
qbittorrent_owner: "{{ ansible_user_id }}"    # <- Who runs the container
qbittorrent_user: "{{ qbittorrent_owner }}"   # <- The in-container user and data filesystem owner
qbittorrent_conf_dir: ~/conf/qbittorrent
qbittorrent_data_volumes:       # <- Volumes for data
  - ~/data/Torrent:/downloads   # (REQUIRED) At least one volume required to be mounted to '/downloads'
  # - ~/data/Movies/Torrent:/extra/Movies
  # - ~/data/Music/Torrent:/extra/Music
qbittorrent_service_name: qbittorrent
qbittorrent_hostname: "{{ qbittorrent_service_name }}"
qbittorrent_vhost: "{{ qbittorrent_service_name }}.domain.local"
qbittorrent_web_ui_port:          # Leave blank to leverage bookshelf configuration
qbittorrent_tz: "{{ ansible_date_time.tz | default('UTC') }}"
# Optional. Configure notifications script, that will be available in the container
#   /scripts/notify.sh
# Configure in qBittorrent UI -> Settings -> Downloads -> External ... on finished
# Leave blank to skip configuration. If not blank, rest notify_* should be
# configured accordingly
qbittorrent_notify_provider:  # discord|gotify|telegram
qbittorrent_notify_token:     # "{{ lookup('file', playbook_dir + '/resources/qbittorrent.secret.sh') }}"
qbittorrent_notify_server:    # (REQUIRED for gotify)
qbittorrent_notify_chat_id:   # (REQUIRED for telegram)
# Optional extra env vars
qbittorrent_extra_env:        # "{{ lookup('template', playbook_dir + '/resources/qbittorrent.env.j2') }}"
# WUD settings
qbittorrent_wudded: true      # Watched by WUD
qbittorrent_tag_rex:          # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure qBittorrent to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
qbittorrent_tailscaled: false
qbittorrent_ts_version:           # Leave blank to leverage bookshelf configuration
qbittorrent_ts_service_name: "{{ qbittorrent_service_name }}-ts"
qbittorrent_ts_funnelled: false   # Expose to the world via TS funnel. Use with caution
# Hostname within tailnet
qbittorrent_ts_hostname: "{{ qbittorrent_service_name }}"
qbittorrent_ts_auth_key:
