---
# Automated nginx proxy for Docker containers using docker-gen
#   https://github.com/nginx-proxy/nginx-proxy
# -----
# VERSIONS: https://hub.docker.com/r/nginxproxy/nginx-proxy/tags?name=alpine
# -----
# Exposes:
#   * nginx_proxy_net - proxy network name
#   * nginx_proxy_enabled - Used by other services
# -----
nginx_proxy_managed: false
nginx_proxy_enabled: false
nginx_proxy_version:        # Leave blank to leverage bookshelf configuration
nginx_proxy_compose_dir:    # Unless you know ..., leave blank to leverage bookshelf configuration
nginx_proxy_owner: "{{ ansible_user_id }}"
nginx_proxy_service_name: nginx-proxy
nginx_proxy_hostname: "{{ nginx_proxy_service_name }}"
# NOTE: Avoid port conflicts with other reverse proxies
nginx_proxy_ports:          # (OPTIONAL) HOST:CONTAINER ports mapping
  - 80:80                   # <- HTTP
  - 443:443                 # <- HTTPS
nginx_proxy_conffiles:
  # - "{{ lookup('file', 'demo1.conf') }}"
# See:
#   * https://github.com/nginx-proxy/nginx-proxy/blob/main/docs/README.md#ssl-support
#   * https://github.com/nginx-proxy/nginx-proxy/blob/main/docs/README.md#wildcard-certificates
nginx_proxy_cert_bundles:   # (OPTIONAL)
  #   # Demo cert-key generated with:
  #   #
  #   #   openssl req -x509 -days 3650 -noenc -keyout /dev/stdout -out /dev/stdout \
  #   #     -subj "/CN=domain.local" \
  #   #     -addext "subjectAltName=DNS:domain.local,DNS:*.domain.local" \
  #   #   | base64 >./domain.local.bundle.pem.b64
  #   #
  #   # The file is base64 encoded to avoid github quacking for exposed key file
  # - text: "{{ lookup('file', 'domain.local.bundle.pem.b64') | b64decode }}"
  #   # 2 copies of the same file will land in the certs directory
  #   # under domain.local.crt and domain.local.key names
  #   domain: domain.local
# Optional extra env vars
nginx_proxy_extra_env: |    # "{{ lookup('template', playbook_dir + '/resources/nginx-proxy.env.j2') }}"
  # References:
  #   * https://github.com/nginx-proxy/nginx-proxy/blob/main/docs/README.md#proxy-container
  # ----------
  # HTTPS_METHOD=noredirect
