---
# Automated nginx proxy for Docker containers using docker-gen
#   https://github.com/nginx-proxy/nginx-proxy
# -----
# VERSIONS: https://hub.docker.com/r/jwilder/nginx-proxy/tags?name=alpine
# -----
# Exposes:
#   * nginx_proxy_net - proxy network name
#   * nginx_proxy_enabled - Used by other services
# -----
nginx_proxy_managed: false
nginx_proxy_enabled: false
nginx_proxy_version:        # Leave blank to leverage bookshelf configuration
nginx_proxy_compose_dir:    # Unless you know ..., leave blank to leverage bookshelf configuration
nginx_proxy_owner: "{{ ansible_user_id }}"
nginx_proxy_service_name: nginx-proxy
nginx_proxy_hostname: "{{ nginx_proxy_service_name }}"
# NOTE: Avoid port conflicts with other reverse proxies
nginx_proxy_ports:          # (OPTIONAL) HOST:CONTAINER ports mapping
  - 80:80                   # <- HTTP
  - 443:443                 # <- HTTPS
nginx_proxy_certs_dir:      # Path to certs on the managed machine. Works paired with HTTPS
