{% set version = (filebrowser_version | default(bookshelf_const_version.filebrowser, true)) %}
{% set web_ui_port = (filebrowser_web_ui_port | default(bookshelf_const_port.filebrowser.web_ui, true)) %}
{% set tailscale_version = (filebrowser_tailscale_version | default(bookshelf_const_version.filebrowser_tailscale, true)) %}
{% set tailscale_service = 'filebrowser-tailscale' %}
---
services:
  filebrowser:
    # https://hub.docker.com/r/filebrowser/filebrowser/tags?name=-s6
    image: filebrowser/filebrowser:{{ version }}
    container_name: {{ filebrowser_service_name }}
    restart: unless-stopped
    env_file:
      - ./main.env
      - ./secret.env
{% if extra_env %}
      - ./extra.env
{% endif %}
    volumes:
      - '{{ data_dir }}:/srv'
      - '{{ conf_dir }}/filebrowser/database:/database'
      - '{{ conf_dir }}/filebrowser/config:/config'
{% if filebrowser_tailscaled %}
    network_mode: "service:{{ tailscale_service }}"

  {{ tailscale_service }}:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:{{ tailscale_version }}
    container_name: {{ filebrowser_service_name }}-tailscale
    restart: unless-stopped
    env_file:
      - ./main.env
      - ./secret.env
{% if extra_env %}
      - ./extra.env
{% endif %}
    volumes:
      - '{{ conf_dir }}/tailscale:/var/lib/tailscale'
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
{% endif %}{# filebrowser_tailscaled #}
    hostname: {{ filebrowser_hostname }}
    ports:
      - {{ web_ui_port }}:80
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ filebrowser_vhost }}
      - VIRTUAL_PORT=80

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
