PUID={{ getent_passwd[filebrowser_owner].1 }}
PGID={{ getent_passwd[filebrowser_owner].2 }}
{% if filebrowser_tz %}
TZ={{ filebrowser_tz }}
{% endif %}
{% if filebrowser_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_USERSPACE=false
{% if filebrowser_tailscale_ts_hostname %}
TS_HOSTNAME={{ filebrowser_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# filebrowser_tailscaled #}
