PUID={{ user_uid }}
PGID={{ user_gid }}
{% if filebrowser_tz %}
TZ={{ filebrowser_tz }}
{% endif %}
{% if filebrowser_tailscaled %}

# ---------
# TAILSCALE
# ---------
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
{% if filebrowser_tailscale_ts_hostname %}
TS_HOSTNAME={{ filebrowser_tailscale_ts_hostname }}
{% endif %}
{% endif %}{# filebrowser_tailscaled #}
