# CONFIG
# ======
PUID={{ user_uid }}
PGID={{ user_gid }}
TZ={{ filebrowser_tz }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = filebrowser_ts_hostname
)) }}

# EXTRA
# =====
{{ filebrowser_extra_env }}
