---
# The Free Software Media System
#   https://jellyfin.org/
# -----
# VERSIONS:
#   * https://hub.docker.com/r/linuxserver/jellyfin/tags
#   * => See tailscale role versions
# -----
# NOTE 1:
#   * for jellyfin_data_volumes '~' is navidrome_user HOME
#   * for other directories '~' is jellyfin_owner HOME
# -----
jellyfin_managed: false
jellyfin_enabled: false
jellyfin_version:       # Leave blank to leverage bookshelf configuration
jellyfin_compose_dir:   # Unless you know ..., leave blank to leverage bookshelf configuration
jellyfin_owner: "{{ ansible_user_id }}"   # <- Who runs the container
jellyfin_user: "{{ jellyfin_owner }}"     # <- The in-container user and data filesystem owner
jellyfin_conf_dir: ~/conf/jellyfin
jellyfin_data_volumes:    # <- Volumes for data
  - ~/data/Movies:/data   # (REQUIRED) At least one volume required
  # - ~/data/Parents/Movies:/extra/Parents
  # - ~/data/Children/Movies:/extra/Children
jellyfin_service_name: jellyfin
jellyfin_hostname: "{{ jellyfin_service_name }}"
jellyfin_vhost: "{{ jellyfin_service_name }}.domain.local"
# Can disable ports if plan to access only via tailnet or reverse-proxy
jellyfin_web_ui_port:   # Leave blank for bookshelf default, or '-1' to not expose the port
jellyfin_discovery_ports_exposed: true
jellyfin_tz: "{{ ansible_date_time.tz | default('UTC', true) }}"
# Optional extra env vars, will affect both jellyfin and tailscale.
jellyfin_extra_env: |   # "{{ lookup('template', playbook_dir + '/resources/jellyfin.env.j2') }}"
  # References:
  #   * https://hub.docker.com/r/linuxserver/jellyfin#parameters
  #   * https://tailscale.com/kb/1282/docker#parameters
  # ----------
  # JELLYFIN_PublishedServerUrl=https://{{ jellyfin_vhost }}
# WUD settings
jellyfin_wudded: true   # Watched by WUD
jellyfin_tag_rex:       # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure Jellyfin to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
jellyfin_tailscaled: false
jellyfin_ts_version:            # Leave blank to leverage bookshelf configuration
jellyfin_ts_service_name: "{{ jellyfin_service_name }}-ts"
jellyfin_ts_funnelled: false    # Expose to the world via TS funnel. Use with caution
# Hostname within tailnet
jellyfin_ts_hostname: "{{ jellyfin_service_name }}"
jellyfin_ts_auth_key:
