---
# VS Code in the browser
#   https://coder.com/docs/code-server
#
# Unlike most of services gets installed in the system (not docker). The reason
# is that it's simpler to manage runtime (add extensions and install their
# dependency packages) on a bare metal setup.
# -----
# VERSIONS: https://github.com/coder/code-server/releases
# -----
code_server_managed: false  # "{{ factum_os_family not in ['alpine'] }}"  # <- Not supported by Alpine
code_server_version:      # Leave blank to leverage bookshelf configuration
code_server_owner: "{{ ansible_facts.user_id }}"
code_server_web_ui_port:  # Leave blank to leverage bookshelf configuration
code_server_extensions:   # <- List of extension
  # - editorconfig.editorconfig
  # - mads-hartmann.bash-ide-vscode
  # - timonwong.shellcheck
  # - foxundermoon.shell-format
  # - redhat.ansible
code_server_pass: changeme
# If defined, takes precedence over 'code_server_pass'.
# Generate with (replace PASS with your value):
#   printf -- '%s' 'PASS' | docker container run -i --rm alpine /bin/sh -c 'apk add --update --no-cache argon2 openssl && argon2 "$(openssl rand -base64 8)" -e'
code_server_hashed_pass:
# Custom config. See the default one in templates/config.yaml.j2.
# templates/config.base.yaml.j2 is always appended in the end.
code_server_custom_conf:    # "{{ lookup('template', playbook_dir + '/resources/code-server.config.yaml.j2') }}"
# Custom user config, applied only on the service initialization.
# See the default one in templates/sane.json.j2.
code_server_user_conf:      # "{{ lookup('template', 'sane.json.j2') }}"
