# STATIC
# ======
GOKAPI_DISABLE_CORS_CHECK=true

# CONFIG
# ======
GOKAPI_PORT={{ gokapi_web_ui_port_int }}

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ gokapi_ts_hostname | default('', false) }}
# Configure healthcheck
TS_ENABLE_HEALTH_CHECK=true
TS_LOCAL_ADDR_PORT={{ gokapi_ts_local_addr_port }}
# TS_ACCEPT_DNS=false   # <- (OPTIONAL) Set to true to use MagicDNS

# EXTRA
# =====
{{ gokapi_extra_env }}
