# STATIC
# ======
GOKAPI_DISABLE_CORS_CHECK=true

# CONFIG
# ======
GOKAPI_PORT={{ gokapi_web_ui_port_int }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = gokapi_ts_hostname
)) }}

# EXTRA
# =====
{{ gokapi_extra_env }}
