## smtp4dev
{% if smtp4dev_tailscaled %}

* Disable tailscale machine expiry:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ smtp4dev_tailscale_ts_hostname }} *** > Disable key expiry`
{% endif %}
