# STATIC
# ======
# Empty

# CONFIG
# ======
UID: {{ user_uid }}
GID: {{ user_gid }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = opengist_ts_hostname
)) }}

# EXTRA
# =====
{{ opengist_extra_env }}
