---
# Self-hosted audiobook and podcast server
#   https://www.audiobookshelf.org/
# -----
# VERSIONS:
#   * https://hub.docker.com/r/advplyr/audiobookshelf/tags
#   * => See tailscale role versions
# -----
# NOTE 1:
#   * for audiobookshelf_data_volumes '~' is navidrome_user HOME
#   * for other directories '~' is audiobookshelf_owner HOME
# -----
# iOS clients:
#   * plappa - payed audiobooks download
#   * ShelfPlayer - payed app
#   * SoundLeaf
#   * https://www.audiobookshelf.org/faq/app/ - 3d party list
# -----
audiobookshelf_managed: false
audiobookshelf_enabled: false
audiobookshelf_version:       # Leave blank to leverage bookshelf configuration
audiobookshelf_compose_dir:   # Unless you know ..., leave blank to leverage bookshelf configuration
audiobookshelf_owner: "{{ ansible_user_id }}"       # <- Who runs the container
audiobookshelf_user: "{{ audiobookshelf_owner }}"   # <- The in-container user and data filesystem owner
audiobookshelf_conf_dir: ~/conf/audiobookshelf
audiobookshelf_data_volumes:  # <- Volumes for data
  - ~/data/Audiobooks:/data   # (REQUIRED) At least one volume required
  # - ~/data/Children/Audiobooks:/extra/Children
  # - ~/data/Parents/Audiobooks:/extra/Parents
audiobookshelf_service_name: audiobookshelf
audiobookshelf_hostname: "{{ audiobookshelf_service_name }}"
audiobookshelf_vhost: "{{ audiobookshelf_service_name }}.domain.local"
# Can disable ports if plan to access only via tailnet or reverse-proxy
audiobookshelf_web_ui_port:   # Leave blank for bookshelf default, or '-1' to not expose the port
audiobookshelf_tz: "{{ ansible_date_time.tz | default('UTC', true) }}"
# Optional extra env vars, will affect both audiobookshelf and tailscale.
audiobookshelf_extra_env: |   # "{{ lookup('template', playbook_dir + '/resources/audiobookshelf.env.j2') }}"
  # References:
  #   * https://www.audiobookshelf.org/docs#env-configuration
  #   * https://tailscale.com/kb/1282/docker#parameters
  # ----------
  # PORT=5555
# WUD settings
audiobookshelf_wudded: true   # Watched by WUD
audiobookshelf_tag_rex:       # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure Audiobookshelf to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
audiobookshelf_tailscaled: false
audiobookshelf_ts_version:   # Leave blank to leverage bookshelf configuration
audiobookshelf_ts_service_name: "{{ audiobookshelf_service_name }}-ts"
audiobookshelf_ts_funnelled: false  # Expose to the world via TS funnel. Use with caution
# Hostname within tailnet
audiobookshelf_ts_hostname: "{{ audiobookshelf_service_name }}"
audiobookshelf_ts_auth_key:
