---
- name: Docker
  ansible.builtin.import_role: { name: docker }
  vars: { docker_users: ["{{ qbittorrent_owner }}"] }

- name: Create storage directories
  ansible.builtin.file: { path: "{{ the_path }}", state: directory, mode: "{{ omit }}" }
  vars:     # noqa: jinja[spacing]
    storage_dirs: "{{ []
        + [{'path': qbittorrent_conf_dir, 'owner': qbittorrent_owner}]
        + (qbittorrent_data_volumes | default([], true) | map('split', ':') | map('first'))
      }}"
    the_path: "{{ item.path | default(item) }}"
    the_owner: "{{ item.owner | default(qbittorrent_user) }}"
  loop_control: {label: "{{ the_owner }}:{{ the_path }}"}
  loop: "{{ storage_dirs }}"
  register: qbittorrent_dirs_create_info    # qbittorrent_dirs_create_info.results[ix].path
  become: true
  become_user: "{{ the_owner }}"

- name: Compose
  become: true
  become_user: "{{ qbittorrent_owner }}"
  # noqa: jinja[spacing]
  vars:
    compose_dir: "{{ qbittorrent_compose_dir | default(bookshelf_const_compose_dir + '/qbittorrent', true) }}"
    conf_dir_abs: "{{ qbittorrent_dirs_create_info.results[0].path }}"
    data_dirs_abs: "{{ qbittorrent_dirs_create_info.results[1:] | map(attribute='path') }}"
    data_volumes_abs: "{{ data_dirs_abs | zip(
        qbittorrent_data_volumes | default([], true) | map('regex_replace', '^[^:]*:', '')
      ) | map('join', ':') }}"
    service_state: "{{ qbittorrent_enabled | ternary('present', 'absent') }}"
    the_user: "{{ getent_passwd[qbittorrent_user] }}"
    user_uid: "{{ the_user.1 }}"
    user_gid: "{{ the_user.2 }}"
  block:
    - name: Create compose directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0700'
      loop: ["{{ compose_dir }}", "{{ conf_dir_abs }}/config", "{{ conf_dir_abs }}/scripts"]

    # Before compose files as compose.yaml requires notify script path
    - name: Load downloaded hook apply state
      ansible.builtin.include_tasks: downloaded-hook-{{ state }}.yaml
      vars:
        state: "{{ qbittorrent_notify_provider | ternary('install', 'clean') }}"
        scripts_dir: "{{ conf_dir_abs }}/scripts"
        scripts_info:
          - { mode: '0700', file: notify.sh }
          - { mode: '0600', file: notify._secret_.sh }

    - name: Create compose files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ compose_dir }}/{{ item }}"
        mode: '0600'
      loop:
        - ts-serve.json    # <- Must be first
        - compose.yaml
        - main.env
        - secret.env
      register: qbittorrent_compose_files_result

    - name: Ensure service user directories ownership
      ansible.builtin.file:
        path: "{{ item }}"
        owner: "{{ user_uid }}"
        group: "{{ user_gid }}"
      loop: "{{ data_dirs_abs + [conf_dir_abs + '/config', conf_dir_abs + '/scripts'] }}"
      become: true
      become_user: root

    - name: Apply service state
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: "{{ service_state }}"
        remove_orphans: true
      register: qbittorrent_service_state

    - name: Restart service
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: restarted
        remove_orphans: true
      when:
        - qbittorrent_enabled and not qbittorrent_service_state.changed
        - qbittorrent_tailscaled and qbittorrent_compose_files_result.results[0].changed

    - name: Create note
      ansible.builtin.import_role: { name: bookshelf-note }
      # noqa: var-naming[no-role-prefix]
      vars: { src: notes.md.j2, dest: qbittorrent-service.md, present: "{{ qbittorrent_enabled }}" }

- name: Mark done
  ansible.builtin.set_fact:
    qbittorrent_done: true
