{% set version = (joplin_server_version | default(bookshelf_const_version.joplin_server, true)) %}
---
{{ lookup('template', './../../postgres/partial/sidecar-compose.yaml.j2', template_vars=dict(
  pg_version = joplin_server_postgres_version | default(bookshelf_const_version.joplin_server_postgres, true),
  pg_name = joplin_server_db_service_name, pg_conf_dir = conf_dir + '/db', pg_net = joplin_server_service_name
)) }}

services:
  app:
    # https://hub.docker.com/r/joplin/server/tags
    image: joplin/server:{{ version }}
    container_name: {{ joplin_server_service_name }}
    restart: unless-stopped
    hostname: {{ joplin_server_hostname }}
    env_file:
      - ./secret.env
      - ./main.env
    depends_on:
      db:
        condition: service_healthy
        restart: true
{% if joplin_server_web_ui_port_ext | int > -1 %}
    ports:
      - "{{ joplin_server_web_ui_port_ext }}:{{ joplin_server_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ joplin_server_web_ui_port_ext }}:{{ joplin_server_web_ui_port_int }}"
{% endif %}
    environment:
      - APP_PORT={{ joplin_server_web_ui_port_int }}
      - POSTGRES_HOST=db
{% if not (nginx_proxy_enabled | default(false)) %}
    networks:
      - {{ joplin_server_service_name }}
{% else %}
      - VIRTUAL_HOST={{ joplin_server_vhost }}
      - VIRTUAL_PORT={{ joplin_server_web_ui_port_int }}
    networks:
      - {{ joplin_server_service_name }}
      - {{ nginx_proxy_net }}
{% endif %}{# nginx_proxy_enabled #}

  db: *postgres

networks:
  {{ joplin_server_service_name }}:
    name: {{ joplin_server_service_name }}
{% if (nginx_proxy_enabled | default(false)) %}
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
