{% set version = (joplin_server_version | default(bookshelf_const_version.joplin_server, true)) %}
{% set postgres_version = (joplin_server_postgres_version | default(bookshelf_const_version.joplin_server_postgres, true)) %}
---
services:
  {{ joplin_server_service_name }}:
    # https://hub.docker.com/r/joplin/server/tags
    image: joplin/server:{{ version }}
    container_name: {{ joplin_server_service_name }}
    restart: unless-stopped
    hostname: {{ joplin_server_hostname }}
    env_file:
      - ./secret.env
      - ./main.env
    depends_on:
      {{ joplin_server_db_service_name }}:
        condition: service_healthy
        restart: true
{% if joplin_server_web_ui_ports_exposed %}
    ports:
      - "{{ joplin_server_web_ui_port_ext }}:{{ joplin_server_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ joplin_server_web_ui_port_ext }}:{{ joplin_server_web_ui_port_int }}"
{% endif %}{# joplin_server_web_ui_ports_exposed #}
    environment:
      - APP_PORT={{ joplin_server_web_ui_port_int }}
      - POSTGRES_HOST={{ joplin_server_db_service_name }}
{% if not (nginx_proxy_enabled | default(false)) %}
    networks:
      - {{ joplin_server_service_name }}
{% else %}
      - VIRTUAL_HOST={{ joplin_server_vhost }}
      - VIRTUAL_PORT={{ joplin_server_web_ui_port_int }}
    networks:
      - {{ joplin_server_service_name }}
      - {{ nginx_proxy_net }}
{% endif %}{# nginx_proxy_enabled #}

  {{ joplin_server_db_service_name }}:
    # https://hub.docker.com/_/postgres/tags?name=alpine
    image: postgres:{{ postgres_version }}
    container_name: {{ joplin_server_db_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - {{ joplin_server_conf_dir }}/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 10s
      retries: 5
    networks:
      - {{ joplin_server_service_name }}

networks:
  {{ joplin_server_service_name }}:
    name: {{ joplin_server_service_name }}
{% if (nginx_proxy_enabled | default(false)) %}
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
