---
# Open source music server and streamer. It gives you freedom to listen to your
# music collection from any browser or mobile device.
#   https://navidrome.org/
# -----
# VERSIONS:
#   * https://hub.docker.com/r/deluan/navidrome/tags
#   * => See tailscale role versions
# -----
# NOTE 1:
#   * for navidrome_data_volumes '~' is navidrome_user HOME
#   * for other directories '~' is navidrome_owner HOME
# -----
navidrome_managed: false
navidrome_enabled: false
navidrome_version:        # Leave blank to leverage bookshelf configuration
navidrome_compose_dir:    # Unless you know ..., leave blank to leverage bookshelf configuration
navidrome_owner: "{{ ansible_facts.user_id }}"    # <- Who runs the container
navidrome_user: "{{ navidrome_owner }}"     # <- The in-container user and data filesystem owner
navidrome_conf_dir: ~/conf/navidrome
navidrome_data_volumes:     # <- Volumes for data, NOTE: navidrome needs only to read it
  - ~/data/Music:/music:ro  # (REQUIRED) At least one volume required to be mounted to '/music'
  # - ~/data/Metal:/extra/Metal:ro
  # - ~/data/Pop:/extra/Pop:ro
navidrome_service_name: navidrome
navidrome_hostname: "{{ navidrome_service_name }}"
navidrome_vhost: "{{ navidrome_service_name }}.domain.local"
# Can disable ports if plan to access only via tailnet or reverse-proxy
navidrome_web_ui_port:    # Leave blank for bookshelf default, or '-1' to not expose the port
navidrome_tz: "{{ ansible_facts.date_time.tz | default('UTC', true) }}"
# Optional extra env vars, will affect both navidrome and tailscale.
navidrome_extra_env: |    # "{{ lookup('template', playbook_dir + '/resources/navidrome.env.j2') }}"
  # References:
  #   * https://www.navidrome.org/docs/usage/configuration-options/#available-options
  #   * https://tailscale.com/kb/1282/docker#parameters
  # ----------
  # ND_ENABLEINSIGHTSCOLLECTOR=true
# WUD settings
navidrome_wudded: true    # Watched by WUD
navidrome_tag_rex:        # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure Navidrome to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
navidrome_tailscaled: false
navidrome_ts_version:           # Leave blank to leverage bookshelf configuration
navidrome_ts_service_name: "{{ navidrome_service_name }}-ts"
navidrome_ts_funnelled: false   # Expose to the world via TS funnel. Use with caution
# Hostname within tailnet
navidrome_ts_hostname: "{{ navidrome_service_name }}"
navidrome_ts_auth_key:
