{% set crontab_users_csv = (cronmaster_crontab_users | default([], true) | unique | join(',')) %}
# STATIC
# ======
NODE_ENV=production
DOCKER=true
NEXT_PUBLIC_CLOCK_UPDATE_INTERVAL=30000

# CONFIG
# ======
HOST_PROJECT_DIR='{{ compose_dir_abs }}'
# This is used to read the crontabs for the specific user.
# replace root with your user - find it with: ls -asl /var/spool/cron/crontabs/
# For multiple users, use comma-separated values: HOST_CRONTAB_USER=root,user1,user2
HOST_CRONTAB_USER='{{ crontab_users_csv }}'

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ cronmaster_tailscale_ts_hostname | default('', true) }}

# EXTRA
# =====
{{ cronmaster_extra_env }}
