## CronMaster
{% if cronmaster_tailscaled %}

* Disable tailscale machine expiry:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ cronmaster_ts_hostname }} *** > Disable key expiry`
{% endif %}
