# CONFIG
# ======
# EMPTY

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = homer_ts_hostname
)) }}

# EXTRA
# =====
{{ homer_extra_env }}
INIT_ASSETS=0   # <- Not overridable
