---
- name: Software repos deps    # <- 'import' because will need the role vars
  ansible.builtin.import_role: { name: software-repos-deps }

- name: Epel release
  become: true
  vars:
    distro_version: "{{ ansible_facts.distribution_major_version }}"
    key_url: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ distro_version }}
    package: https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ distro_version }}.noarch.rpm
  block:
    - name: Install GPG key   # <- https://stackoverflow.com/a/64464040
      ansible.builtin.rpm_key:
        state: present
        key: "{{ key_url }}"

    - name: Install
      ansible.builtin.dnf:
        name: "{{ package }}"
        # disable_gpg_check: true

- name: Mark done
  ansible.builtin.set_fact:
    epel_release_done: true
