{{ olivetin_config | default(lookup('file', 'config.yaml'), true) }}

# Listen on all addresses available, port {{ olivetin_web_ui_port_ext }}
listenAddressSingleHTTPFrontend: 0.0.0.0:{{ olivetin_web_ui_port_ext }}
