# CONFIG
# ======
# Empty

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = ollama_ts_hostname
)) }}

# EXTRA
# =====
{{ ollama_extra_env }}
