#!/usr/bin/env bash

print_help() {
  echo "Create custom model based on profile"
  echo
  print_usage
}

print_usage() {
  local self; self="$(basename -- "${0}")"
  local demo_base=qwen3.5:9b \
        demo_target=qwen3.5:9b-256k \
        demo_ctx=256000
  echo "
    # ~~~ Usage ~~~
   ,
    ${self} --profiles            # List available profiles
    ${self} --profile PROFILE     # Show specific profile
    ${self} MODELFILE             # Create model based on MODELFILE content
    cat MODELFILE | ${self}       # Same as above, but from stdin
   ,
   # ~~~ Demos ~~~
   ,
    # Create from profile
    ${self} <(${self} --profile $(bash $0 --profiles | head -n 1))
  " | sed -e 's/^\s\+//' -e 's/\s\+$//' -e '/^\s*$/d' -e 's/^,//'
}

get_target() {
  local modelfile="${1}"
  local target_rex='^\s*#\+\s*TARGET\s*=\s*\([^ ]\+\)\s*$'
  (
    set -o pipefail
    grep "${target_rex}" <<< "${modelfile}" | tail -n 1 \
      | sed "s/${target_rex}/\1/"
  )
}

create_model() {
  local modelfile="${1}"
  local target; target="$(get_target "${modelfile}")" || {
    echo "Failed to parse target model name from MODELFILE." >&2
    echo >&2
    print_usage
    return 1
  }

  local tmpfile; tmpfile="$(set -x; mktemp)" || return
  local tmpfile_basename; tmpfile_basename="$(basename -- "${tmpfile}")"
  (set -x; tee "${tmpfile}" <<< "${modelfile}") || return

  local self_dir; self_dir="$(dirname "$(realpath -- "${0}" 2>/dev/null)")"
  cd "${self_dir}" || exit

  (set -x; docker compose cp "${tmpfile}" {{ ollama_service_name }}:/tmp/${tmpfile_basename}) || return
  docker compose exec {{ ollama_service_name }} sh -c "
    set -x
    ollama create ${target} -f '/tmp/${tmpfile_basename}'
    rm -f '/tmp/${tmpfile_basename}'
  "
}

get_profiles() {
  local ctx_80k="PARAMETER num_ctx 80000"
  local ctx_128k="PARAMETER num_ctx 128000"
  local ctx_256k="PARAMETER num_ctx 256000"

  # ~~~ Qwen ~~~
  local _qwen27b_base="
    # https://huggingface.co/unsloth/Qwen3.6-27B-GGUF#using-qwen36-via-the-chat-completions-api
    FROM hf.co/unsloth/Qwen3.6-27B-GGUF:Q4_K_M
    PARAMETER num_predict -1
  "
  local _qwen_lq_base; _qwen_lq_base="$(
    sed -e 's#^\(\s*FROM\).*#\1 hf.co/unsloth/Qwen3.6-27B-GGUF:Q3_K_M#' <<< "${_qwen27b_base}"
  )"
  local _qwen_dev="
    PARAMETER temperature 0.6
    PARAMETER top_p 0.95
    PARAMETER top_k 20
    PARAMETER min_p 0.0
    PARAMETER presence_penalty 0.0
    PARAMETER repeat_penalty 1.0
  "
  local qwen_128k_hq="
    # https://huggingface.co/unsloth/Qwen3.6-27B-GGUF#using-qwen36-via-the-chat-completions-api
    FROM hf.co/unsloth/Qwen3.6-27B-GGUF:Q4_K_M
    PARAMETER num_ctx 128000
    PARAMETER num_predict -1
  "

  # ~~~ Gemma4 ~~~
  local _gemma_hq_base="
    # https://huggingface.co/unsloth/gemma-4-31B-it-GGUF#1-sampling-parameters
    FROM hf.co/unsloth/gemma-4-31B-it-GGUF:Q4_K_M
    PARAMETER num_predict -1
    PARAMETER temperature 1.0
    PARAMETER top_p 0.95
    PARAMETER top_k 64
  "
  local gemma_128k_hq="
    # https://huggingface.co/unsloth/gemma-4-31B-it-GGUF#1-sampling-parameters
    FROM hf.co/unsloth/gemma-4-31B-it-GGUF:Q4_K_M
    PARAMETER num_ctx 128000
    PARAMETER num_predict -1
    PARAMETER temperature 1.0
    PARAMETER top_p 0.95
    PARAMETER top_k 64
  "
  declare -A profiles; profiles=(
    # ~~~ Gemma4 ~~~
    [gemma4-it-hq:12b-256k]="
      $(sed -e 's#^\(\s*FROM\).*#\1 hf.co/unsloth/gemma-4-12b-it-GGUF:Q8_0#' <<< "${_gemma_hq_base}")
      ${ctx_256k}
    "
    [gemma4-it-hq:31b-128k]="
      ${_gemma_hq_base}
      ${ctx_128k}
    "

    # ~~~ Qwen ~~~
    [Qwen3.6-assist-Q6_K:35b-256k]="
      $(sed -e 's#^\(\s*FROM\).*#\1 hf.co/unsloth/Qwen3.6-35B-A3B-GGUF:UD-Q6_K#' <<< "${_qwen27b_base}")
      PARAMETER temperature 0.7
      PARAMETER top_p 0.8
      PARAMETER top_k 20
      PARAMETER min_p 0.0
      PARAMETER presence_penalty 1.5
      PARAMETER repeat_penalty 1.0
      ${ctx_256k}
    "
    [Qwen3.6-dev-Q4_K_M:27b-80k]="
      ${_qwen27b_base}
      ${_qwen_dev}
      ${ctx_80k}
    "
    [Qwen3.6-dev-Q4_K_M:27b-128k]="
      ${_qwen27b_base}
      ${_qwen_dev}
      ${ctx_128k}
    "
    [Qwen3.6-dev-Q6_K:35b-128k]="
      $(sed -e 's#^\(\s*FROM\).*#\1 hf.co/unsloth/Qwen3.6-35B-A3B-GGUF:UD-Q6_K#' <<< "${_qwen27b_base}")
      ${_qwen_dev}
      ${ctx_128k}
    "
    [Qwen3.6-dev-Q8_K_XL:35b-128k]="
      $(sed -e 's#^\(\s*FROM\).*#\1 hf.co/unsloth/Qwen3.6-35B-A3B-GGUF:UD-Q8_K_XL#' <<< "${_qwen27b_base}")
      ${_qwen_dev}
      ${ctx_128k}
    "
    [qwen3.6-dev-lq:27b-80k]="
      ${_qwen_lq_base}
      ${_qwen_dev}
      ${ctx_80k}
    "
    [qwen3.6-dev-lq:27b-128k]="
      ${_qwen_lq_base}
      ${_qwen_dev}
      ${ctx_128k}
    "
  )

  local selected
  if [ -n "${1}" ]; then
    selected="${1}"
    [ -n "${profiles[$selected]+x}" ] || {
      echo "Profile not found: ${selected}" >&2
      echo >&2
      print_usage
      return 1
    }

    printf -- '# TARGET = %s\n#\n' "${selected}"
    cat <<< "${profiles[${selected}]}" \
    | sed -e 's/^\s\+//' -e 's/\s\+$//' -e '/^\s*$/d'

    return
  fi

  local modelfile
  printf -- "%s\n" "${!profiles[@]}" | sort -V \
  | while read -r profile; do
    modelfile="$(${FUNCNAME[0]} "${profile}")"
    get_target "${modelfile}"
  done
}

case "${1}" in
  -\?|-h|--help)  print_help; exit ;;
  --profiles)     get_profiles; exit ;;
  --profile)      get_profiles "${2}"; exit ;;
  --*)            echo "Unknown option: ${1}"; exit 1 ;;
esac

MODELFILE=""
if [ -t 0 ]; then
  MODELFILE="$(cat -- "${1}" 2>/dev/null)" || {
    echo "Failed to read file: ${1}" >&2
    echo >&2
    print_usage
    exit 1
  }
else
  MODELFILE="$(cat -- /dev/stdin)" || exit
fi
MODELFILE="$(sed -e 's/^\s\+//' <<< "${MODELFILE}")"

create_model "${MODELFILE}"
