{{ lookup('template', './../../tailscale/partial/sidecar-serve.json.j2', template_vars=dict(
  ts_web_proxy = 'http://127.0.0.1:' + (ollama_tcp_port_int | string),
  ts_funnelled = ollama_ts_funnelled
)) }}
