# STATIC
# ======

# CONFIG
# ======
SEARXNG_URLS={{ searxng_mcp_urls }}
PORT=3000

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = searxng_mcp_ts_hostname
)) }}

# EXTRA
# =====
{{ searxng_mcp_extra_env }}
