---
# Tailscale makes creating software-defined networks easy: securely connecting
# users, services, and devices.
#   https://tailscale.com/
# -----
# VERSIONS: https://hub.docker.com/r/tailscale/tailscale/tags
# -----
# Meant primarily for tailscale as a VPN gateway to a local network
#
# IMPORTANT 1: Auth key is required for initial container run:
# https://tailscale.com/admin/settings/keys -> 'Generate auth key...'
#   -> generate single time or reusable
#
# IMPORTANT 2: After deployment https://tailscale.com/admin/machines -> 3 dots
# next to the machine -> Disable key expiry (to avoid re-login to tailscale)
#
# IMPORTANT 3: With changed routes or exit node params service requires a valid
# auth key, i.e. if it's one-timer new one must be provided
#
# IMPORTANT 4: With version update also update auth key (see IMPORTANT 1)
#
# NOTE 1: The service is useless unless it's configured for exit node or subnet
# router. Both need to be confirmed in the machines admin
# -----
tailscale_managed: false
tailscale_enabled: false
tailscale_version:          # Leave blank to leverage bookshelf configuration
tailscale_compose_dir:      # Unless you know ..., leave blank to leverage bookshelf configuration
tailscale_owner: "{{ ansible_facts.user_id }}"
tailscale_conf_dir: ~/conf/tailscale
tailscale_service_name: tailscale
tailscale_hostname: "{{ tailscale_service_name }}"
# Hostname within tailnet
tailscale_ts_hostname: "{{ tailscale_service_name }}"
tailscale_auth_key:         # (REQUIRED)
tailscale_routes:           # '192.168.0.0/24,192.168.2.0/24'
tailscale_exit_node: false  # Advertise exit node
tailscale_tz: "{{ ansible_facts.date_time.tz | default('UTC', true) }}"
# Optional extra env vars
tailscale_extra_env: |      # "{{ lookup('file', playbook_dir + '/resources/tailscale.env') }}"
  # These are used in demo gatus.sh healthcheck script.
  #   https://github.com/TwiN/gatus/#external-endpoints
  # ----------
  GATUS_URL=https://gatus.domain.local
  GATUS_KEY=bookshelf_tailscale   # {GROUP}_{ENDPOINT}
tailscale_secrets_env: |     # "{{ lookup('file', playbook_dir + '/resources/tailscale.secret.env') }}"
  # Same as extra env, but for secrets
  # ----------
  GATUS_TOKEN=changeme
# WUD settings
tailscale_wudded: true        # Watched by WUD
tailscale_tag_rex:            # Leave blank to leverage bookshelf configuration
# ----------
# The following settings configure healthcheck reporter sidecar container.
# The container will start if tailscale_health_script not empty.
# The container is equipped with curl, wget and bash.
tailscale_health_script:           # "{{ lookup('file', 'gatus.sh') }}"
tailscale_health_alpine_version:   # Leave blank to leverage bookshelf configuration
tailscale_health_service_name: "{{ tailscale_service_name }}-health"
tailscale_health_check_schedule: '*/1 * * * *'   # <- Every minute
