# STATIC
# ======
# Empty

# CONFIG
# ======
# Empty

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = caddy_ts_hostname
)) }}

# EXTRA
# =====
{{ caddy_extra_env }}
