---
bookshelf_const_version_shared:
  # https://hub.docker.com/_/alpine
  alpine: 3.23.3
  # https://hub.docker.com/_/postgres/tags?name=alpine
  postgres: 16.11-alpine3.23
  # NOTE: With version update also update auth key: https://tailscale.com/admin/settings/keys
  # https://hub.docker.com/r/tailscale/tailscale/tags
  tailscale: v1.92.5
  tailscale_tag_rex: '^v\d+\.\d+\.\d+$$'

bookshelf_const_version:    # <- Last update: 2026-01-31
  #
  # BASE
  #
  # https://github.com/FiloSottile/age/releases
  age: v1.3.1
  # https://github.com/junegunn/fzf/releases
  fzf: '0.67.0'
  # Versions (better pick latest LTS) and channels lists:
  # * https://nodejs.org/en/about/previous-releases#looking-for-the-latest-release-of-a-version-branch
  # * https://snapcraft.io/node
  nodejs_snap_channel: 24/stable
  # https://github.com/tmux/tmux-builds/releases
  tmux: '3.6a'
  #
  # SERVICE
  #
  # https://hub.docker.com/r/adguard/adguardhome/tags
  adguard: v0.107.71
  adguard_tag_rex: '^v\d+\.\d+\.\d+$$'
  adguard_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/advplyr/audiobookshelf/tags
  audiobookshelf: 2.32.1
  audiobookshelf_tag_rex: '^\d+\.\d+\.\d+$$'
  audiobookshelf_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/blinkospace/blinko/tags
  blinko: 1.8.4
  blinko_tag_rex: '^\d+\.\d+\.\d+$$'
  blinko_postgres: "{{ bookshelf_const_version_shared.postgres }}"
  blinko_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/_/caddy/tags
  caddy: 2.10.2
  caddy_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://github.com/coder/code-server/releases
  code_server: v4.108.2
  # https://github.com/fccview/cronmaster/pkgs/container/cronmaster
  cronmaster: 2.0.0
  cronmaster_tag_rex: '^\d+\.\d+\.\d+$$'
  cronmaster_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/linuxserver/duplicati/tags?name=-ls
  duplicati: v2.2.0.3_stable_2026-01-06-ls278
  duplicati_tag_rex: '^v\d+\.\d+\.\d+.\d+.*-ls\d+$$'
  duplicati_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/filebrowser/filebrowser/tags?name=-s6
  filebrowser: v2.56.0-s6
  filebrowser_tag_rex: '^v\d+\.\d+\.\d+-s6$$'
  filebrowser_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://github.com/twin/gatus/pkgs/container/gatus
  gatus: v5.34.0
  gatus_tag_rex: '^v\d+\.\d+\.\d+$$'
  gatus_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/f0rc3/gokapi/tags
  gokapi: v2.2.1
  gokapi_tag_rex: '^v\d+\.\d+\.\d+$$'
  gokapi_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/gotify/server/tags
  gotify: 2.8.0
  gotify_tag_rex: '^\d+\.\d+\.\d+$$'
  gotify_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://quay.io/repository/hedgedoc/hedgedoc?tab=tags
  hedgedoc: 1.10.5-alpine
  hedgedoc_tag_rex: '^\d+\.\d+\.\d+-alpine$$'
  # https://hub.docker.com/r/linuxserver/heimdall/tags
  heimdall: v2.7.6-ls334
  heimdall_tag_rex: '^v\d+\.\d+\.\d+-ls\d+$$'
  # https://hub.docker.com/r/b4bz/homer/tags
  homer: v25.11.1
  homer_tag_rex: '^v\d+\.\d+\.\d+$$'
  homer_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/linuxserver/jellyfin/tags
  jellyfin: 10.11.6ubu2404-ls18
  jellyfin_tag_rex: '^\d+\.\d+\.\d+.+-ls\d+$$'
  jellyfin_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/joplin/server/tags
  joplin_server: 3.5.2
  joplin_server_tag_rex: '^\d+\.\d+\.\d+$$'
  joplin_server_postgres: "{{ bookshelf_const_version_shared.postgres }}"
  # https://github.com/fccview/jotty/pkgs/container/jotty
  jotty: 1.19.1
  jotty_tag_rex: '^\d+\.\d+\.\d+$$'
  jotty_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://github.com/mealie-recipes/mealie/pkgs/container/mealie
  mealie: v3.9.2
  mealie_tag_rex: '^v\d+\.\d+\.\d+$$'
  mealie_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/neosmemo/memos/tags
  # IMPORTANT:
  #   - Check release notes before update: https://github.com/usememos/memos/releases
  #   - Consider backup before upgrade: https://www.usememos.com/docs/install/upgrade
  memos: 0.25.3
  memos_tag_rex: '^\d+\.\d+\.\d+$$'
  memos_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://github.com/alexta69/metube/pkgs/container/metube
  metube: 2026.01.30
  metube_tag_rex: '^\d+\.\d+\.\d+$$'
  # https://hub.docker.com/r/deluan/navidrome/tags
  navidrome: 0.59.0
  navidrome_tag_rex: '^\d+\.\d+\.\d+$$'
  navidrome_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/nginxproxy/nginx-proxy/tags?name=alpine
  nginx_proxy: 1.9.0-alpine
  nginx_proxy_tag_rex: '^\d+\.\d+\.\d+-alpine$$'
  # https://hub.docker.com/r/jc21/nginx-proxy-manager/tags
  nginx_proxy_manager: 2.13.6
  nginx_proxy_manager_tag_rex: '^\d+\.\d+\.\d+$$'
  nginx_proxy_manager_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/jamesread/olivetin/tags
  olivetin: 2025.11.25                      # <- TODO: switch to 3k some day before 2028
  olivetin_tag_rex: '^20\d+\.\d+\.\d+$$'
  # https://hub.docker.com/r/ollama/ollama/tags
  ollama: 0.15.2
  ollama_tag_rex: '^\d+\.\d+\.\d+$$'
  ollama_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://github.com/open-webui/open-webui/releases
  open_webui: v0.7.2
  open_webui_tag_rex: '^v\d+\.\d+\.\d+$$'
  open_webui_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/linuxserver/pairdrop/tags?name=-ls
  pairdrop: v1.11.2-ls130
  pairdrop_tag_rex: '^v\d+\.\d+\.\d+-ls\d+$$'
  pairdrop_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/portainer/portainer-ce/tags?name=alpine
  portainer: 2.38.0-alpine
  portainer_tag_rex: '^\d+\.\d+\.\d+-alpine$$'
  portainer_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/portainer/agent/tags?name=alpine
  portainer_agent: 2.38.0-alpine
  portainer_agent_tag_rex: '^\d+\.\d+\.\d+-alpine$$'
  portainer_agent_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/linuxserver/qbittorrent/tags?name=-ls
  qbittorrent: 5.1.4-r1-ls438
  qbittorrent_tag_rex: '^\d+\.\d+\.\d{1,2}-.*-ls\d+$$'
  qbittorrent_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/zefhemel/silverbullet/tags
  silverbullet: 2.4.1
  silverbullet_tag_rex: '^\d+\.\d+\.\d+$$'
  # https://hub.docker.com/r/rnwood/smtp4dev/tags?name=v
  smtp4dev: v3.14
  smtp4dev_tag_rex: '^v\d+\.\d+$$'
  smtp4dev_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/linuxserver/syncthing/tags?name=-ls
  syncthing: v2.0.13-ls206
  syncthing_tag_rex: '^v\d+\.\d+\.\d+-ls\d+$$'
  syncthing_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # => See tailscale versions in the top
  tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  tailscale_tag_rex: "{{ bookshelf_const_version_shared.tailscale_tag_rex }}"
  tailscale_alpine: "{{ bookshelf_const_version_shared.alpine }}"
  # https://github.com/yourok/TorrServer/pkgs/container/torrserver
  torrserver: MatriX.137
  torrserver_tag_rex: '^.*\d+$$'
  torrserver_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/twingate/connector/tags
  twingate: 1.83.0
  twingate_tag_rex: '^\d+\.\d+\.\d+$$'
  # https://hub.docker.com/r/louislam/uptime-kuma/tags
  uptime_kuma: 2.0.2
  uptime_kuma_tag_rex: '^\d+\.\d+\.\d+$$'
  uptime_kuma_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://hub.docker.com/r/vaultwarden/server/tags?name=alpine
  vaultwarden: 1.35.2-alpine
  vaultwarden_tag_rex: '^\d+\.\d+\.\d+-alpine$$'
  # https://hub.docker.com/r/vikunja/vikunja/tags
  vikunja: 1.0.0
  vikunja_tag_rex: '^\d+\.\d+\.\d+$$'
  vikunja_postgres: "{{ bookshelf_const_version_shared.postgres }}"
  vikunja_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://github.com/VueTorrent/VueTorrent/pkgs/container/vuetorrent-lsio-mod/versions
  vuetorrent: 2.31.3
  # https://github.com/wg-easy/wg-easy/pkgs/container/wg-easy/versions?filters%5Bversion_type%5D=tagged
  wg_easy: 15.2.1
  wg_easy_tag_rex: '^\d+\.\d+\.\d+$$'
  # https://hub.docker.com/r/linuxserver/wikijs/tags?name=-ls
  wikijs: v2.5.311-ls204
  wikijs_tag_rex: '^v\d+\.\d+\.\d+-ls\d+$$'
  wikijs_postgres: "{{ bookshelf_const_version_shared.postgres }}"
  wikijs_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"
  # https://ghcr.io/getwud/wud
  wud: 8.1.1
  wud_tag_rex: '^\d+\.\d+\.\d+$$'
  wud_tailscale: "{{ bookshelf_const_version_shared.tailscale }}"

bookshelf_const_port:
  adguard:
    web_ui: 8083
    init_ui: 8084
  audiobookshelf:
    web_ui: 8095
  blinko:
    web_ui: 8102
  code_server:
    web_ui: 8090
  cronmaster:
    web_ui: 8109
  duplicati:
    web_ui: 8110
  filebrowser:
    web_ui: 8094
  gatus:
    web_ui: 8111
  gokapi:
    web_ui: 8113
  gotify:
    web_ui: 8085
  hedgedoc:
    web_ui: 8101
  heimdall:
    web_ui: 8087
  homer:
    web_ui: 8116
  jellyfin:
    web_ui: 8081
    service_discovery: 1900
    client_discovery: 7359
  joplin_server:
    web_ui: 8092
  mealie:
    web_ui: 8100
  memos:
    web_ui: 8099
  metube:
    web_ui: 8093
  navidrome:
    web_ui: 8097
  nginx_proxy_manager:
    web_ui: 81
  olivetin:
    web_ui: 8096
  ollama:
    tcp: 8114
  open_webui:
    web_ui: 8115
  pairdrop:
    web_ui: 8104
  portainer:
    web_ui: 8086
    tunnel: 8000
  portainer_agent:
    tcp_port: 9001
  qbittorrent:
    web_ui: 8088
    torrenting: 6881
  jotty:
    web_ui: 8108
  silverbullet:
    web_ui: 8103
  smtp4dev:
    web_ui: 8106
    smtp: 1025
    imap: 10143
  syncthing:
    web_ui: 8091
    file_transfers: 22000
    local_discovery: 21027
  torrserver:
    web_ui: 8112
  uptime_kuma:
    web_ui: 8098
  vaultwarden:
    web_ui: 8089
  vikunja:
    web_ui: 8105
  wg_easy:
    web_ui: 8082
  wikijs:
    web_ui: 8107
  wud:
    web_ui: 8117        # <- Last (8081+)

bookshelf_const_compose_dir: ~/docker
# Not used within bookshelf space, but can be used to keep envar desks.
# Also compatible with desk tool (https://github.com/jamesob/desk)
bookshelf_const_desks_dir: ~/.desks
bookshelf_const_bookshelf_home: ~/bookshelf
