[Desktop Entry]
Name=Teams for Linux
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/teams-for-linux_teams-for-linux.desktop /snap/bin/teams-for-linux %U --minimized
Icon=/snap/teams-for-linux/current/meta/gui/icon.png
Type=Application
Terminal=false
StartupWMClass=teams-for-linux
MimeType=x-scheme-handler/msteams;
X-SnapInstanceName=teams-for-linux
X-SnapAppName=teams-for-linux
