{% set version = (pairdrop_version | default(bookshelf_const_version.pairdrop, true)) %}
{% set web_ui_port = (pairdrop_web_ui_port | default(bookshelf_const_port.pairdrop.web_ui, true)) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = pairdrop_ts_version | default(bookshelf_const_version.pairdrop_tailscale, true),
  ts_name = pairdrop_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://hub.docker.com/r/linuxserver/pairdrop/tags?name=-ls
    image: linuxserver/pairdrop:{{ version }}
    container_name: {{ pairdrop_service_name }}
    restart: unless-stopped
    env_file:
      - ./secret.env
      - ./main.env
{% if pairdrop_tailscaled %}
    network_mode: service:tailscale

  tailscale:
    <<: *tailscale
{% endif %}{# pairdrop_tailscaled #}
    hostname: {{ pairdrop_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - "{{ web_ui_port }}:{{ pairdrop_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ bookshelf_const_port.pairdrop.web_ui }}:{{ pairdrop_web_ui_port_int }}"
{% endif %}{# pairdrop_web_ui_ports_exposed #}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ pairdrop_vhost }}
      - VIRTUAL_PORT={{ pairdrop_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}

