## PairDrop
{% if pairdrop_tailscaled %}

* Disable tailscale machine expiry:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ pairdrop_tailscale_ts_hostname }} *** > Disable key expiry`
{% endif %}
