---
- name: Docker
  ansible.builtin.import_role: { name: docker }
  vars: { docker_users: ["{{ nginx_proxy_owner }}"] }

- name: Compose
  become: true
  become_user: "{{ nginx_proxy_owner }}"
  vars:
    compose_dir: "{{ nginx_proxy_compose_dir | default(bookshelf_const_compose_dir + '/nginx-proxy', true) }}"
    certs_dir: "{{ compose_dir }}/ssl"
    conffiles_dir: "{{ compose_dir }}/conf"
    conffiles: "{{ nginx_proxy_conffiles | default([], true) }}"
    service_state: "{{ nginx_proxy_enabled | ternary('present', 'absent') }}"
  block:
    - name: Create compose directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0700'
      loop: ["{{ compose_dir }}", "{{ certs_dir }}", "{{ conffiles_dir }}"]

    # PROCESS CONFFILES

    - name: Create conffiles
      ansible.builtin.copy:
        content: "{{ item }}"
        dest: "{{ conffiles_dir }}/{{ filename }}"
        mode: '0600'
      vars:
        # Names are important
        # https://github.com/nginx-proxy/nginx-proxy/tree/main/docs#proxy-wide
        filename: "zzz-{{ '{:03}'.format(ix + 1) }}.conf"
      loop: "{{ conffiles }}"
      loop_control:
        index_var: ix
        label: "{{ filename }}"
      register: nginx_proxy_conffiles_create_result

    - name: List all conffiles
      ansible.builtin.command:
        argv: [ls, -1A, "{{ conffiles_dir }}"]
      changed_when: false
      register: nginx_proxy_conffiles_current_state

    - name: Conffiles cleanup
      ansible.builtin.file:
        path: "{{ conffiles_dir }}/{{ item }}"
        state: absent
      loop: "{{ obsolete }}"
      vars:
        wanted: "{{ nginx_proxy_conffiles_create_result.results | map(attribute='dest') | map('basename') }}"
        obsolete: "{{ nginx_proxy_conffiles_current_state.stdout_lines | difference(wanted) | map('basename') }}"
      register: nginx_proxy_conffiles_remove_result

    # BASIC COMPOSE MANAGEMENT

    - name: Create compose files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ compose_dir }}/{{ item }}"
        mode: '0600'
      vars:
        # Required for compose
        conffiles: "{{ nginx_proxy_conffiles_create_result.results | map(attribute='dest') | map('basename') }}"
      loop:
        - compose.yaml
        - main.env

    # PROCESS CERTS

    - name: Create certs
      ansible.builtin.copy:
        content: "{{ text }}"
        dest: "{{ certs_dir }}/{{ filename }}"
        mode: '0600'
      vars:
        filename: "{{ (item[0].domain + '.' + item[1]) | basename }}"
        text: "{{ item[0].text }}"
      loop: "{{
          nginx_proxy_cert_bundles | default([], true)
          | map('combine', {'exts' : ['crt', 'key']})
          | subelements('exts')
        }}"
      loop_control: { label: "{{ filename }}" }
      register: nginx_proxy_certs_create_result

    - name: List all cert files
      ansible.builtin.command:
        argv: [ls, -1A, "{{ certs_dir }}"]
      changed_when: false
      register: nginx_proxy_certs_current_state

    - name: Certs cleanup
      ansible.builtin.file:
        path: "{{ certs_dir }}/{{ item }}"
        state: absent
      loop: "{{ obsolete }}"
      vars:
        wanted: "{{ nginx_proxy_certs_create_result.results | map(attribute='dest') | map('basename') }}"
        obsolete: "{{ nginx_proxy_certs_current_state.stdout_lines | difference(wanted) | map('basename') }}"
      register: nginx_proxy_certs_remove_result

    # MANAGE SERVICE STATE

    - name: Apply service state
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: "{{ service_state }}"
        remove_orphans: true
      register: nginx_proxy_service_state

    - name: Restart service
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: restarted
        remove_orphans: true
      when:
        - nginx_proxy_enabled and not nginx_proxy_service_state.changed
        - nginx_proxy_certs_create_result.changed
          or nginx_proxy_certs_remove_result.changed
          or nginx_proxy_conffiles_create_result.changed
          or nginx_proxy_conffiles_remove_result.changed

- name: Mark done
  ansible.builtin.set_fact:
    nginx_proxy_done: true
