---
# Fast and extensible multi-platform HTTP/1-2-3 web server with automatic HTTPS
#   https://caddyserver.com/
# For basic scenarios see README.md in the role
# -----
# VERSIONS:
#   * https://hub.docker.com/_/caddy/tags
# -----
caddy_managed: false
caddy_enabled: false
caddy_version:          # Leave blank to leverage bookshelf configuration
caddy_compose_dir:      # Unless you know ..., leave blank to leverage bookshelf configuration
caddy_owner: "{{ ansible_user_id }}"
caddy_conf_dir: ~/conf/caddy
caddy_service_name: caddy
caddy_hostname: "{{ caddy_service_name }}"
caddy_modules:          # (OPTIONAL) https://caddyserver.com/docs/modules/
  # - github.com/caddy-dns/desec
  # - github.com/mholt/caddy-l4
  # - github.com/caddy-dns/duckdns
caddy_cert_bundles:
  # - text: "{{ lookup('file', 'demo1.bundle.pem.b64') | b64decode }}"
  #   name: domain.local.pem    # <- Will land in /etc/ssl/private/domain.local.pem
# Can be string or list. Ex.:
#   caddy_caddyfile: "{{ lookup('file', 'demo1.Caddyfile') }}"
#   caddy_caddyfile: ["{{ lookup('file', 'demo1.Caddyfile') }}"]
caddy_caddyfile:
  - "{{ lookup('file', 'demo1.Caddyfile') }}"   # (REQUIRED) At least one
  # - "{{ lookup('file', 'demo2.Caddyfile') }}"
caddy_host_net: false
# Port settings only get applied with caddy_host_net == false
# NOTE: Avoid port conflicts with other reverse proxies
caddy_ports:            # (OPTIONAL) HOST:CONTAINER ports mapping
  - 80:80               # <- HTTP
  - 443:443             # <- HTTPS
  - 3128:3128           # <- SPICE port
caddy_vhost: "{{ caddy_service_name }}.domain.local"
# Optional extra env vars
caddy_extra_env: |      # "{{ lookup('template', playbook_dir + '/resources/caddy.env.j2') }}"
  # Can be used to pass values to Caddyfile
  # ----------
  # DESEC_BASE=demo.dedyn.io
caddy_secrets_env: |      # "{{ lookup('template', playbook_dir + '/resources/caddy.secret.env.j2') }}"
  # Can be used to pass secret values to Caddyfile
  # ----------
  # DESEC_TOKEN=123qwerty456
# ----------
# The following settings configure Caddy to run as a part of tailnet
#
# IMPORTANT 1: See IMPORTANTs in tailscale service description
# IMPORTANT 2: Unlike other tailscaled services, this one is not
#   available via TS Magic DNS and can't be configured to be funneled.
#   But it's still reachable via tailnet IP
caddy_tailscaled: false
caddy_ts_version:          # Leave blank to leverage bookshelf configuration
caddy_ts_service_name: "{{ caddy_service_name }}-ts"
# Hostname within tailnet
caddy_ts_hostname: "{{ caddy_service_name }}"
caddy_ts_auth_key:
