# CONFIG
# ======
# Empty

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = open_webui_ts_hostname
)) }}

# EXTRA
# =====
{{ open_webui_extra_env }}
