{% set version = (hedgedoc_version | default(bookshelf_const_version.hedgedoc, true)) %}
{% set web_ui_port = (hedgedoc_web_ui_port | default(bookshelf_const_port.hedgedoc.web_ui, true)) %}
---
services:
  app:
    # https://quay.io/repository/hedgedoc/hedgedoc?tab=tags
    image: quay.io/hedgedoc/hedgedoc:{{ version }}
    container_name: {{ hedgedoc_service_name }}
    restart: unless-stopped
    env_file:
      - main.env
    volumes:
      - '{{ hedgedoc_conf_dir }}/config:/hedgedoc/config'           # Must be owned by user_uid:user_gid
      - '{{ hedgedoc_conf_dir }}/uploads:/hedgedoc/public/uploads'  # Must be owned by user_uid:user_gid
    user: '{{ user_uid }}:{{ user_gid }}'
    hostname: {{ hedgedoc_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - "{{ web_ui_port }}:{{ hedgedoc_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ bookshelf_const_port.hedgedoc.web_ui }}:{{ hedgedoc_web_ui_port_int }}"
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ hedgedoc_vhost }}
      - VIRTUAL_PORT={{ hedgedoc_web_ui_port_int }}
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
