# STATIC
# ======
CMD_CONFIG_FILE=/hedgedoc/config/config.json
CMD_DEFAULT_PERMISSION=private
# Registration with /hedgedoc/bin/manage_users tool
CMD_ALLOW_EMAIL_REGISTER=false
CMD_ALLOW_ANONYMOUS=false

# CONFIG
# ======
# Behind reverse proxy change to the domain
CMD_DOMAIN='{{ hedgedoc_domain}}'
# Behind reverse proxy change to false
CMD_URL_ADDPORT=true
