# STATIC
# ======
POSTGRES_DB=kaneo
POSTGRES_USER=kaneo
POSTGRES_HOST={{ kaneo_db_service_name }}

# CONFIG
# ======
KANEO_CLIENT_URL={{ kaneo_client_url }}
TZ='{{ kaneo_tz }}'

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = kaneo_ts_hostname
)) }}

# EXTRA
# =====
{{ kaneo_extra_env }}
