# STATIC
# ======
PORT={{ searxng_proxy_web_ui_port_int }}

# CONFIG
# ======
{# Required UPSTREAM must be set #}
{% if searxng_proxy_upstream is defined and searxng_proxy_upstream | length > 0 %}
UPSTREAM={{ searxng_proxy_upstream }}
{% endif %}
UPSTREAM_TIMEOUT={{ searxng_proxy_upstream_timeout }}
DELAY={{ searxng_proxy_delay }}
MAX_WAIT={{ searxng_proxy_max_wait }}
ESCALATE_AFTER={{ searxng_proxy_escalate_after }}
ESCALATE_MAX_COUNT={{ searxng_proxy_escalate_max_count }}
ESCALATE_FACTOR={{ searxng_proxy_escalate_factor }}
ENDPOINTS={{ searxng_proxy_endpoints }}
QUEUE_SIZE={{ searxng_proxy_queue_size }}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = searxng_proxy_ts_hostname
)) }}

# EXTRA
# =====
{{ searxng_proxy_extra_env }}
