{% set endpoints = searxng_proxy_endpoints | default([], true) %}
# STATIC
# ======

# CONFIG
# ======
UPSTREAM='{{ searxng_proxy_upstream | join(',') }}'
DELAY='{{ searxng_proxy_delay }}'
ESCALATE_AFTER='{{ searxng_proxy_escalate_after }}'
{% if endpoints | length > 0 %}
ENDPOINTS='{{ endpoints | join(',') }}'
{% endif %}

# TAILSCALE
# =========
{{ lookup('template', './../../tailscale/partial/sidecar-main.env.j2', template_vars=dict(
  ts_hostname = searxng_proxy_ts_hostname
)) }}

# EXTRA
# =====
{{ searxng_proxy_extra_env }}
