## searxng-proxy
{% if searxng_proxy_tailscaled %}

* Disable tailscale machine expiry:
  1. Go to https://tailscale.com/admin/machines
  2. `{{ searxng_proxy_ts_hostname }} *** > Disable key expiry`
{% endif %}
