---
- name: Install repo
  ansible.builtin.get_url:
    url: https://nvidia.github.io/libnvidia-container/stable/rpm/nvidia-container-toolkit.repo
    dest: /etc/yum.repos.d/nvidia-container-toolkit.repo
    mode: '0644'
    force: true
  become: true
  register: docker_nvidia_toolkit_repo_state
