---
# The community driven password manager.
#   https://www.vaultwarden.net/
# -----
# VERSIONS: https://hub.docker.com/r/vaultwarden/server/tags?name=alpine
# -----
vaultwarden_managed: false
vaultwarden_enabled: false
vaultwarden_version:        # Leave blank to leverage bookshelf configuration
vaultwarden_compose_dir:    # Unless you know ..., leave blank to leverage bookshelf configuration
vaultwarden_owner: "{{ ansible_facts.user_id }}"
vaultwarden_conf_dir: ~/conf/vaultwarden
vaultwarden_service_name: vaultwarden
vaultwarden_hostname: "{{ vaultwarden_service_name }}"
vaultwarden_vhost: "{{ vaultwarden_service_name }}.domain.local"
# Required with https via reverse proxy, vaultwarden needs to know it's https
# to work properly with attachments.
# https://github.com/dani-garcia/vaultwarden/wiki/Using-Docker-Compose
# Ex.: https://{{ vaultwarden_vhost }}
vaultwarden_vdomain:
# Access token for http(s)://VAULTWARDEN_HOST/admin
# Generate with:
#   docker container run -it --rm vaultwarden/server:latest /vaultwarden hash
vaultwarden_admin_token_hash:
vaultwarden_web_ui_port:    # Leave blank to leverage bookshelf configuration
vaultwarden_tz: "{{ ansible_facts.date_time.tz | default('UTC') }}"
# https://github.com/dani-garcia/vaultwarden/blob/main/.env.template
# Optional extra env vars
vaultwarden_extra_env:      # "{{ lookup('file', playbook_dir + '/resources/vaultwarden.env') }}"
# WUD settings
vaultwarden_wudded: true    # Watched by WUD
vaultwarden_tag_rex:        # Leave blank to leverage bookshelf configuration
