# STATIC
# ======
POSTGRES_DB=vikunja
POSTGRES_USER=vikunja
VIKUNJA_DATABASE_TYPE=postgres
VIKUNJA_CORS_ENABLE=false

# CONFIG
# ======
VIKUNJA_SERVICE_TIMEZONE='{{ vikunja_tz }}'
# VIKUNJA_SERVICE_PUBLICURL: http://<the public ip or host where Vikunja is reachable>
VIKUNJA_DATABASE_HOST={{ vikunja_db_service }}
VIKUNJA_DATABASE_DATABASE="${POSTGRES_DB}"
VIKUNJA_DATABASE_USER="${POSTGRES_USER}"
VIKUNJA_DATABASE_PASSWORD="${POSTGRES_PASSWORD}"

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ vikunja_tailscale_ts_hostname }}

# EXTRA
# =====
# https://vikunja.io/docs/config-options/
{{ vikunja_extra_env }}
