POSTGRES_PASSWORD='{{ vikunja_db_pass }}'
VIKUNJA_DATABASE_PASSWORD="${POSTGRES_PASSWORD}"
VIKUNJA_SERVICE_JWTSECRET='{{ vikunja_jwtsecret }}'
{% if vikunja_tailscaled %}

TS_AUTHKEY='{{ vikunja_tailscale_auth_key }}'
{% endif %}
