---
- name: Docker
  ansible.builtin.import_role: { name: docker }
  vars: { docker_users: ["{{ filebrowser_owner }}"] }

- name: Get directories info
  ansible.builtin.file: { path: "{{ item.path }}" }
  check_mode: true
  failed_when: false
  register: filebrowser_dirs       # filebrowser_dirs.results[ix].path
  loop_control: { label: "{{ item.user }}:{{ item.path }}" }
  loop:
    - { path: "{{ filebrowser_conf_dir }}", user: "{{ filebrowser_owner }}" }
    - { path: "{{ filebrowser_data_dir }}", user: "{{ filebrowser_user }}" }
  become: true
  become_user: "{{ item.user }}"

- name: Compose
  become: true
  become_user: "{{ filebrowser_owner }}"
  vars:
    compose_dir: "{{ filebrowser_compose_dir | default(bookshelf_const_compose_dir + '/filebrowser', true) }}"
    conf_dir: "{{ filebrowser_conf_dir }}"
    conf_dir_abs: "{{ filebrowser_dirs.results[0].path }}"
    data_dir_abs: "{{ filebrowser_dirs.results[1].path }}"
    service_state: "{{ filebrowser_enabled | ternary('present', 'absent') }}"
    the_user: "{{ ansible_facts.getent_passwd[filebrowser_user] }}"
    user_uid: "{{ the_user.1 }}"
    user_gid: "{{ the_user.2 }}"
  block:
    - name: Create data directory
      ansible.builtin.file:
        path: "{{ data_dir_abs }}"
        state: directory
        mode: "{{ omit }}"
      become: true
      become_user: "{{ filebrowser_user }}"

    - name: Create compose directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: '0700'
      loop: ["{{ compose_dir }}", "{{ conf_dir_abs }}/config"]

    - name: Create compose files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ compose_dir }}/{{ item }}"
        mode: '0600'
      loop:
        - ts-serve.json    # <- Must be first
        - compose.yaml
        - main.env
        - secret.env
      register: filebrowser_compose_files_result

    - name: Ensure service user directories ownership
      ansible.builtin.file:
        path: "{{ item }}"
        owner: "{{ user_uid }}"
        group: "{{ user_gid }}"
      loop: ["{{ data_dir_abs }}", "{{ conf_dir_abs }}/config"]
      become: true
      become_user: root

    - name: Apply service state
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: "{{ service_state }}"
        remove_orphans: true
      register: filebrowser_service_state

    - name: Restart service
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        state: restarted
        remove_orphans: true
      when:
        - filebrowser_enabled and not filebrowser_service_state.changed
        - filebrowser_tailscaled and filebrowser_compose_files_result.results[0].changed

    - name: Create note
      ansible.builtin.import_role: { name: bookshelf-note }
      # noqa: var-naming[no-role-prefix]
      vars: { src: notes.md.j2, dest: filebrowser-service.md, present: "{{ filebrowser_enabled }}" }

- name: Mark done
  ansible.builtin.set_fact:
    filebrowser_done: true
