---
_fzf_version: "{{ fzf_version | default(bookshelf_const_version.fzf, true) }}"

fzf_arch: "{{ 'arm64' if ansible_facts.architecture == 'aarch64' else 'amd64' }}"
fzf_dl_url: https://github.com/junegunn/fzf/releases/download/v{{ _fzf_version }}/fzf-{{ _fzf_version }}-linux_{{ fzf_arch }}.tar.gz
fzf_bin_file: "/opt/junegunn/fzf/fzf"
