{% set version = (metube_version | default(bookshelf_const_version.metube, true)) %}
{% set web_ui_port = (metube_web_ui_port | default(bookshelf_const_port.metube.web_ui, true)) %}
{% set data_dir = ((metube_user == metube_owner) | ternary(metube_data_dir, data_dir_abs)) %}
---
services:
  metube:
    # https://github.com/alexta69/metube/pkgs/container/metube
    image: ghcr.io/alexta69/metube:{{ version }}
    container_name: {{ metube_service_name }}
    restart: unless-stopped
    hostname: {{ metube_hostname }}
    env_file:
      - ./main.env
    ports:
      - '{{ web_ui_port }}:8081'
    volumes:
      - '{{ data_dir }}:/downloads'
      - '{{ metube_conf_dir }}/config:/config'
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge    # <- Avoid creating default compose network
{% else %}
    environment:
      - VIRTUAL_HOST={{ metube_vhost }}
      - VIRTUAL_PORT=8081
    networks:
      - {{ nginx_proxy_net }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
