{% set version = gatus_version | default(bookshelf_const_version.gatus, true) %}
{% set web_ui_port = gatus_web_ui_port | default(bookshelf_const_port.gatus.web_ui, true) %}
{% set tailscale_version = gatus_ts_version | default(bookshelf_const_version.gatus_tailscale, true) %}
---
x-tailscale: &tailscale
  # https://hub.docker.com/r/tailscale/tailscale/tags
  image: tailscale/tailscale:{{ tailscale_version }}
  container_name: {{ gatus_ts_service_name }}
  restart: unless-stopped
  env_file: &env_file
    - ./secret.env
    - ./main.env
  volumes:
    - '{{ conf_dir }}/tailscale:/var/lib/tailscale'
    # Demo: https://github.com/tailscale-dev/video-code-snippets/blob/main/2025-06-mealie/serve.json
    - ./serve.json:/config/serve.json
  devices:
    - /dev/net/tun:/dev/net/tun
  cap_add:
    - NET_ADMIN
    - SYS_MODULE

services:
  {{ gatus_service_name }}:
    # https://github.com/twin/gatus/pkgs/container/gatus
    image: ghcr.io/twin/gatus:{{ version }}
    container_name: {{ gatus_service_name }}
    restart: unless-stopped
    env_file: *env_file
    volumes:
      - '{{ conf_dir }}/config:/data'
      - ./config.yaml:/config/config.yaml
{% if gatus_tailscaled %}
    network_mode: "service:{{ gatus_ts_service_name }}"

  {{ gatus_ts_service_name }}:
    <<: *tailscale
{% endif %}{# gatus_tailscaled #}
    hostname: {{ gatus_hostname }}
{% if gatus_web_ui_ports_exposed %}
    ports:
      - "{{ web_ui_port }}:{{ gatus_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ web_ui_port }}:{{ gatus_web_ui_port_int }}"
{% endif %}{# gatus_web_ui_ports_exposed #}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ gatus_vhost }}
      - VIRTUAL_PORT={{ gatus_web_ui_port_int }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
