{% set version = gatus_version | default(bookshelf_const_version.gatus, true) %}
{% set web_ui_port = gatus_web_ui_port | default(bookshelf_const_port.gatus.web_ui, true) %}
{% set tag_rex = gatus_tag_rex | default(bookshelf_const_version.gatus_tag_rex, true) %}
---
{{ lookup('template', './../../tailscale/partial/sidecar-compose.yaml.j2', template_vars=dict(
  ts_version = gatus_ts_version | default(bookshelf_const_version.gatus_tailscale, true),
  ts_name = gatus_ts_service_name, ts_conf_dir = conf_dir + '/tailscale'
)) }}

services:
  app:
    # https://github.com/twin/gatus/pkgs/container/gatus
    image: ghcr.io/twin/gatus:{{ version }}
    container_name: {{ gatus_service_name }}
    restart: unless-stopped
    labels:
      - wud.watch={{ gatus_wudded }}
      - wud.tag.include={{ tag_rex }}
    env_file:
      - ./secret.env
      - ./main.env
    volumes:
      - '{{ conf_dir }}/config:/data'
      - "./{{ yaml_dir | basename }}:/config"
    user: "{{ user_uid }}:{{ user_gid }}"
{% if gatus_tailscaled %}
    network_mode: "service:tailscale"

  tailscale:
    <<: *tailscale
{% endif %}{# gatus_tailscaled #}
    hostname: {{ gatus_hostname }}
{% if web_ui_port | int > -1 %}
    ports:
      - "{{ web_ui_port }}:{{ gatus_web_ui_port_int }}"
{% else %}
    # ports:
    #   - "{{ bookshelf_const_port.gatus.web_ui }}:{{ gatus_web_ui_port_int }}"
{% endif %}
{% if not (nginx_proxy_enabled | default(false)) %}
    network_mode: bridge
{% else %}
    networks:
      - {{ nginx_proxy_net }}
    environment:
      - VIRTUAL_HOST={{ gatus_vhost }}
      - VIRTUAL_PORT={{ gatus_web_ui_port_int }}

networks:
  {{ nginx_proxy_net }}:
    external: true
{% endif %}{# nginx_proxy_enabled #}
