# STATIC
# ======
# Empty

# CONFIG
# ======
# Empty

# TAILSCALE
# =========
TS_STATE_DIR=/var/lib/tailscale
TS_SERVE_CONFIG=/config/serve.json
TS_USERSPACE=false
TS_HOSTNAME={{ gatus_ts_hostname | default('', false) }}

# EXTRA
# =====
{{ gatus_extra_env }}
