# https://wg-easy.github.io/wg-easy/v15.1/advanced/config/optional-config/
# https://wg-easy.github.io/wg-easy/v15.1/advanced/config/unattended-setup/

# Allow plain http Web-UI access
INSECURE={{ wg_easy_insecure }}
